# SINAN Metadata Information

In [1]:
from pysus.online_data import SINAN

In [2]:
metadata = SINAN.metadata_df('DENG')
metadata

,Nome do campo,Campo,Tipo,Categoria,Descrição,Características,DBF
0,2-Agravo/doença,NaN,VARCHAR(1),1-Dengue\n2-Chikungunya,Especifica a suspeição do agravo.,"Campo Obrigatório\nPreenchendo o código,\na de...",ID_AGRAVO
1,31-Data da Investigação,dt_investigacao,DATE,NaN,Informar a data da investigação,Campo obrigatório\n- Não aceitar Data da\ninve...,DT_INVEST
2,32- Ocupação/ramo de atividade econômica,co_cbo_ocupacao,VARCHAR(6),NaN,Informar a atividade exercida pelo paciente no...,NaN,ID_OCUPA_N
3,33- Sinais clínicos (Febre),NaN,VARCHAR(1),1 – Sim\n2 – Não,Informar qual sinal clínico ou achados\nlabora...,Campo obrigatório,FEBRE
4,33- Sinais clínicos (Mialgia),NaN,VARCHAR(1),1 – Sim\n2 – Não,Informar qual sinal clínico ou achados\nlabora...,Campo obrigatório,MIALGIA
...,...,...,...,...,...,...,...
83,70- Dengue grave (Alteração da consciência),NaN,VARCHAR(1),1 – Sim\n2 – Não,Informar qual sinal de gravidade foi\nencontrado,Campo obrigatório\nSe campo 62-\nClassificação...,GRAV_CONSC
84,70- Dengue grave (Outros órgãos),NaN,NaN,NaN,Informar qual sinal de gravidade foi\nencontrado,Campo obrigatório\nSe campo 62-\nClassificação...,GRAV_ORGAO
85,71- Dengue grave Data de início dos sintomas,NaN,DATE,NaN,Informar data de início dos sinais de alarme.\...,Campo obrigatório\nSe campo 62-\nClassificação...,DT_GRAV
86,Informações complementares e observações adici...,ds_observacao,VARCHAR(255),NaN,Informações complementares e observações\nadic...,Habilitado para todas\nnotificações,DS_OBS
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dict(zip(metadata['DBF'], metadata['Nome do campo']))

{'ID_AGRAVO': '2-Agravo/doença',
 'DT_INVEST': '31-Data da Investigação',
 'ID_OCUPA_N': '32- Ocupação/ramo de atividade econômica',
 'FEBRE': '33- Sinais clínicos (Febre)',
 'MIALGIA': '33- Sinais clínicos (Mialgia)',
 'CEFALEIA': '33- Sinais clínicos (Cefaleia)',
 'EXANTEMA': '33- Sinais clínicos (Exantema)',
 'VOMITO': '33- Sinais clínicos (Vômito)',
 'NAUSEA': '33- Sinais clínicos (Náusea)',
 'DOR_COSTAS': '33- Sinais clínicos (Dor nas costas)',
 'CONJUNTVIT': '33- Sinais clínicos (Conjuntivite)',
 'ARTRITE': '33- Sinais clínicos (Artrite)',
 'ARTRALGIA': '33- Sinais clínicos (Artralgia intensa)',
 'PETÉQUIA_N': '33- Sinais clínicos (Petéquias)',
 'LEUCOPENIA': '33- Sinais clínicos (Leucopenia)',
 'LACO': '33- Sinais clínicos (Prova do laço)',
 'DOR_RETRO': '33- Sinais clínicos (Dor retroorbital)',
 'DIABETES': '34- Doenças pré- existentes (Diabetes)',
 'HEMATOLOG': '34- Doenças pré- existentes (Doenças hematológicas)',
 'HEPATOPAT': '34- Doenças pré- existentes (Hepatopatias)',
 'RENAL': '34- Doenças pré- existentes (Doença renal crônica)',
 'HIPERTENSA': '34- Doenças pré- existentes (Hipertensão arterial)',
 'ÁCIDO_PEPT': '34- Doenças pré- existentes (Doença ácido-péptica)',
 'AUTO_IMUNE': '34- Doenças pré- existentes (Doenças auto-imunes)',
 'DT_CHIK_S1': '35-Exame sorológico (IgM) Chikungunya Soro 1 Data da Coleta',
 'DT_CHIK_S2': '36-Exame sorológico (IgM) Chikungunya Soro 2 Data da Coleta',
 'DT_PRNT': '37-Exame PRNT Data da Coleta',
 'RES_CHIKS1': '38-Exame sorológico (IgM) Chikungunya Soro 1 Resultado',
 'RES_CHIKS2': '38-Exame sorológico (IgM) Chikungunya Soro 2 Resultado',
 'RESUL_PRNT': '38-Exame PRNT Resultado',
 'DT_SORO': '39-Exame sorológico (IgM) Dengue Data da Coleta',
 'RESUL_SORO': '40-Exame sorológico (IgM) Dengue Resultado',
 'DT_NS1': '41- Exame NS1 Data da Coleta',
 'RESUL_NS1': '42- Exame NS1 Resultado',
 'DT_VIRAL': '43-Isolamento Viral Data da Coleta',
 'RESUL_VI_N': '43-Isolamento Viral Resultado',
 'DT_PCR': '45-RT-PCR Data da Coleta',
 'RESUL_PCR_': '46-RT-PCR Resultado',
 'SOROTIPO': '47-Sorotipo',
 'HISTOPA_N': '48-Histopatologia Resultado',
 'IMUNOH_N': '49-Imunohistoquímica Resultado',
 'HOSPITALIZ': '50-Ocorreu Hospitalização?',
 'DT_INTERNA': '51-Data Da Internação',
 'UF': '52-UF De Hospitalização',
 'MUNICIPIO': '53-Municipio Do Hospital',
 'HOSPITAL': '54-Nome Do Hospital',
 'DDD_HOSP': '55-(DDD)',
 'TEL_HOSP': '55-Telefone',
 'TPAUTOCTO': '56-O caso é Autóctone de residência?',
 'COUFINF': '57-UF (provável da fonte de infecção)',
 'COPAISINF': '58-País (provável da fonte de infecção)',
 'COMUNINF': '59-Município (provável da fonte de infecção)',
 'CODISINF': '60-Distrito (provável de infecção)',
 'CO_BAINF\nNOBAIINF': '61-Bairro (provável de infecção)',
 'CLASSI_FIN': '62-Classificação',
 'CRITERIO': '63-Critério De Confirmação/Descarte',
 'CLINIC_CHIK': '64- Apresentação clínica Chikungunya',
 'EVOLUCAO': '65-Evolução Do Caso',
 'DT_OBITO': '66-Data do Óbito',
 'DT_ENCERRA': '67-Data Do Encerramento',
 'ALRM_HIPOT': '68- Dengue com sinais de alarme (Hipotensão)',
 'ALRM_PLAQ': '68- Dengue com sinais de alarme (Queda abrupta de plaquetas)',
 'ALRM_VOM': '68- Dengue com sinais de alarme (Vômitos persistentes)',
 'ALRM_ABDOM': '68- Dengue com sinais de alarme (Dor abdominal)',
 'ALRM_LETAR': '68- Dengue com sinais de alarme (Letargia ou irritabilidade)',
 'ALRM_SANG': '68- Dengue com sinais de alarme (Sangramento de mucosa/outras hemorragias)',
 'ALRM_HEMAT': '68- Dengue com sinais de alarme (Aumento hematócrito)',
 'ALRM_HEPAT': '68- Dengue com sinais de alarme (Hepatomegalia)',
 'ALRM_LIQ': '68- Dengue com sinais de alarme (Acúmulo de líquidos)',
 'DT_ALRM': '69- Dengue com sinais de alarme Data de início dos sintomas',
 'GRAV_PULSO': '70- Dengue grave (Pulso débil ou indectável)',
 'GRAV_CONV': '70- Dengue grave (PA convergente)',
 'GRAV_ENCH': '70- Dengue grave (Tempo de enchimento capilar)',
 'GRAV_INSUF': '70- Dengue grave (Acúmulo de líquidos com insuficiência respiratória)',
 'GRAV_TAQUI': '70- Dengue grave (Taquicardia)',
 'GRAV_EXTRE': '70- Dengue grave (Extremidade frias)',
 'GRAV_HIPOT': '70- Dengue grave (Hipotensão arterial em fase tardia)',
 'GRAV_HEMAT': '70- Dengue grave (Hematêmese)',
 'GRAV_MELEN': '70- Dengue grave (Melena)',
 'GRAV_METRO': '70- Dengue grave (Metrorragia volumosa)',
 'GRAV_SANG': '70- Dengue grave (Sangramento do SNC)',
 'GRAV_AST': '70- Dengue grave (AST/ALT >1 .000)',
 'GRAV_MIOC': '70- Dengue grave (Miocardite)',
 'GRAV_CONSC': '70- Dengue grave (Alteração da consciência)',
 'GRAV_ORGAO': '70- Dengue grave (Outros órgãos)',
 'DT_GRAV': '71- Dengue grave Data de início dos sintomas',
 'DS_OBS': 'Informações complementares e observações adicionais',
 nan: nan}

# Downloading data from the SINAN database

In [4]:
from pysus.ftp.databases.sinan import SINAN
import pandas as pd

sinan = SINAN().load()

SINAN is a database of reported cases of certain diseases that Brazilian law requires to be reported. Unfortunately the data available for free download, corresponds only to the investigated cases not the totality of the reported cases. Nevertheless it's an interesting dataset.

To find out what are these diseases, we can use PySUS:

In [5]:
sinan.diseases

{'ACBI': 'Acidente de trabalho com material biológico',
 'ACGR': 'Acidente de trabalho',
 'ANIM': 'Acidente por Animais Peçonhentos',
 'ANTR': 'Atendimento Antirrabico',
 'BOTU': 'Botulismo',
 'CANC': 'Cancêr relacionado ao trabalho',
 'CHAG': 'Doença de Chagas Aguda',
 'CHIK': 'Febre de Chikungunya',
 'COLE': 'Cólera',
 'COQU': 'Coqueluche',
 'DENG': 'Dengue',
 'DERM': 'Dermatoses ocupacionais',
 'DIFT': 'Difteria',
 'ESQU': 'Esquistossomose',
 'EXAN': 'Doença exantemáticas',
 'FMAC': 'Febre Maculosa',
 'FTIF': 'Febre Tifóide',
 'HANS': 'Hanseníase',
 'HANT': 'Hantavirose',
 'HEPA': 'Hepatites Virais',
 'IEXO': 'Intoxicação Exógena',
 'INFL': 'Influenza Pandêmica',
 'LEIV': 'Leishmaniose Visceral',
 'LEPT': 'Leptospirose',
 'LERD': 'LER/Dort',
 'LTAN': 'Leishmaniose Tegumentar Americana',
 'MALA': 'Malária',
 'MENI': 'Meningite',
 'MENT': 'Transtornos mentais relacionados ao trabalho',
 'NTRA': 'Notificação de Tracoma',
 'PAIR': 'Perda auditiva por ruído relacionado ao trabalho',
 'PEST': 'Peste',
 'PFAN': 'Paralisia Flácida Aguda',
 'PNEU': 'Pneumoconioses realacionadas ao trabalho',
 'RAIV': 'Raiva',
 'SDTA': 'Surto Doenças Transmitidas por Alimentos',
 'SIFA': 'Sífilis Adquirida',
 'SIFC': 'Sífilis Congênita',
 'SIFG': 'Sífilis em Gestante',
 'SRC': 'Síndrome da Rubéola Congênia',
 'TETA': 'Tétano Acidental',
 'TETN': 'Tétano Neonatal',
 'TOXC': 'Toxoplasmose Congênita',
 'TOXG': 'Toxoplasmose Gestacional',
 'TRAC': 'Inquérito de Tracoma',
 'TUBE': 'Tuberculose',
 'VARC': 'Varicela',
 'VIOL': 'Violência doméstica, sexual e/ou outras violências',
 'ZIKA': 'Zika Vírus'}

These diseases are available in countrywide tables, so if we want to see the cases of `Chagas` disease in the state of Minas Gerais, first we can check which years are available:

In [6]:
sinan.get_files('CHAG')

[CHAGBR00.dbc,
 CHAGBR01.dbc,
 CHAGBR02.dbc,
 CHAGBR03.dbc,
 CHAGBR04.dbc,
 CHAGBR05.dbc,
 CHAGBR06.dbc,
 CHAGBR07.dbc,
 CHAGBR08.dbc,
 CHAGBR09.dbc,
 CHAGBR10.dbc,
 CHAGBR11.dbc,
 CHAGBR12.dbc,
 CHAGBR13.dbc,
 CHAGBR14.dbc,
 CHAGBR15.dbc,
 CHAGBR16.dbc,
 CHAGBR17.dbc,
 CHAGBR18.dbc,
 CHAGBR19.dbc,
 CHAGBR20.dbc,
 CHAGBR21.dbc,
 CHAGBR22.dbc]

We can see, that we have data from 2000 to present. Now we can download it:

In [7]:
df = sinan.download(sinan.get_files('CHAG', 2019)).to_dataframe()
df

100%|███████████████████████████████████████████████████████████████████| 286k/286k [00:00<00:00, 313MB/s]

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,DT_ENCERRA,DT_DIGITA,DT_TRANSUS,DT_TRANSDM,DT_TRANSSM,DT_TRANSRM,DT_TRANSRS,DT_TRANSSE,NU_LOTE_V,NU_LOTE_H
0,2,B571,2019-04-10,201915,2019,16,160030,,2019639,2019-03-01,...,20190513,,,,,,,,,
1,2,B571,2019-09-16,201938,2019,16,160030,,2022192,2019-08-18,...,20191002,,,,,,,,,
2,2,B571,2019-03-07,201910,2019,16,160030,,2022192,2019-02-28,...,20190325,,,,,,,,,
3,2,B571,2019-10-22,201943,2019,16,160030,,2020653,2019-09-09,...,20191107,,,,,,,,,
4,2,B571,2019-09-10,201937,2019,16,160060,,2020971,2019-08-28,...,20191108,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4477,2,B571,2019-09-05,201936,2019,26,260120,1501,5740592,2019-09-04,...,20191022,,,,,,,,,
4478,2,B571,2019-09-26,201939,2019,26,261390,1506,2348489,2019-08-26,...,20191008,,,,,,,,,
4479,2,B571,2019-01-17,201903,2019,26,260120,1501,2711443,2019-01-05,...,20190212,,,,,,,,,
4480,2,B571,2019-07-03,201927,2019,26,260820,1498,5276403,2019-07-03,...,20190903,,,,,,,,,
4481,2,B571,2019-11-08,201945,2019,26,261220,1502,5844916,2019-08-04,...,20200124,,,,,,,,,

## Downloading large files
Some SINAN files can be quite large and can take a bit longer to download and convert. As the default behavior is to download data in chunks, some folders may contain lots of parquet chunks

In [8]:
fn = sinan.download(sinan.get_files('DENG', 2020))

100%|████████████████████████████████████████████████████████████████| 73.8M/73.8M [00:00<00:00, 68.5GB/s]

The cases of dengue were downloaded to multiple chunks to the directory above

In [9]:
import os
len(os.listdir(str(fn)))

50

In [10]:
df2 = fn.to_dataframe()
len(df2)

1495117

## Decoding the age in SINAN tables
In SINAN the age comes encoded. PySUS can decode the age column `NU_IDADE_N` into any of these units: years, months, days, or hours.

In [11]:
from pysus.preprocessing.decoders import decodifica_idade_SINAN
decodifica_idade_SINAN?

Signature:       decodifica_idade_SINAN(*args, **kwargs)
Type:            vectorize
String form:     <numpy.vectorize object at 0x7e36e0551610>
File:            ~/micromamba/envs/pysus/lib/python3.11/site-packages/numpy/__init__.py
Docstring:
Em tabelas do SINAN frequentemente a idade é representada como um inteiro que precisa ser parseado
para retornar a idade em uma unidade cronológica padrão.
:param unidade: unidade da idade: 'Y': anos, 'M' meses, 'D': dias, 'H': horas
:param idade: inteiro ou sequencia de inteiros codificados.
:return:
Class docstring:
vectorize(pyfunc=np._NoValue, otypes=None, doc=None, excluded=None,
cache=False, signature=None)

Returns an object that acts like pyfunc, but takes arrays as input.

Define a vectorized function which takes a nested sequence of objects or
numpy arrays as inputs and returns a single numpy array or a tuple of numpy
arrays. The vectorized function evaluates `pyfunc` over successive tuples
of the input arrays like the python map function, except it uses the
broadcasting rules of numpy.

The data type of the output of `vectorized` is determined by calling
the function with the first element of the input.  This can be avoided
by specifying the `otypes` argument.

Parameters
----------
pyfunc : callable, optional
    A python function or method.
    Can be omitted to produce a decorator with keyword arguments.
otypes : str or list of dtypes, optional
    The output data type. It must be specified as either a string of
    typecode characters or a list of data type specifiers. There should
    be one data type specifier for each output.
doc : str, optional
    The docstring for the function. If None, the docstring will be the
    ``pyfunc.__doc__``.
excluded : set, optional
    Set of strings or integers representing the positional or keyword
    arguments for which the function will not be vectorized.  These will be
    passed directly to `pyfunc` unmodified.

    .. versionadded:: 1.7.0

cache : bool, optional
    If `True`, then cache the first function call that determines the number
    of outputs if `otypes` is not provided.

    .. versionadded:: 1.7.0

signature : string, optional
    Generalized universal function signature, e.g., ``(m,n),(n)->(m)`` for
    vectorized matrix-vector multiplication. If provided, ``pyfunc`` will
    be called with (and expected to return) arrays with shapes given by the
    size of corresponding core dimensions. By default, ``pyfunc`` is
    assumed to take scalars as input and output.

    .. versionadded:: 1.12.0

Returns
-------
out : callable
    A vectorized function if ``pyfunc`` was provided,
    a decorator otherwise.

See Also
--------
frompyfunc : Takes an arbitrary Python function and returns a ufunc

Notes
-----
The `vectorize` function is provided primarily for convenience, not for
performance. The implementation is essentially a for loop.

If `otypes` is not specified, then a call to the function with the
first argument will be used to determine the number of outputs.  The
results of this call will be cached if `cache` is `True` to prevent
calling the function twice.  However, to implement the cache, the
original function must be wrapped which will slow down subsequent
calls, so only do this if your function is expensive.

The new keyword argument interface and `excluded` argument support
further degrades performance.

References
----------
.. [1] :doc:`/reference/c-api/generalized-ufuncs`

Examples
--------
>>> def myfunc(a, b):
...     "Return a-b if a>b, otherwise return a+b"
...     if a > b:
...         return a - b
...     else:
...         return a + b

>>> vfunc = np.vectorize(myfunc)
>>> vfunc([1, 2, 3, 4], 2)
array([3, 4, 1, 2])

The docstring is taken from the input function to `vectorize` unless it
is specified:

>>> vfunc.__doc__
'Return a-b if a>b, otherwise return a+b'
>>> vfunc = np.vectorize(myfunc, doc='Vectorized `myfunc`')
>>> vfunc.__doc__
'Vectorized `myfunc`'

The output type is determined by evaluating the first element of the input,
unless it is specified:

>>> out = vfunc([1, 2, 3, 4], 2)
>>> type(out[0])
<class 'numpy.int64'>
>>> vfunc = np.vectorize(myfunc, otypes=[float])
>>> out = vfunc([1, 2, 3, 4], 2)
>>> type(out[0])
<class 'numpy.float64'>

The `excluded` argument can be used to prevent vectorizing over certain
arguments.  This can be useful for array-like arguments of a fixed length
such as the coefficients for a polynomial as in `polyval`:

>>> def mypolyval(p, x):
...     _p = list(p)
...     res = _p.pop(0)
...     while _p:
...         res = res*x + _p.pop(0)
...     return res
>>> vpolyval = np.vectorize(mypolyval, excluded=['p'])
>>> vpolyval(p=[1, 2, 3], x=[0, 1])
array([3, 6])

Positional arguments may also be excluded by specifying their position:

>>> vpolyval.excluded.add(0)
>>> vpolyval([1, 2, 3], x=[0, 1])
array([3, 6])

The `signature` argument allows for vectorizing functions that act on
non-scalar arrays of fixed length. For example, you can use it for a
vectorized calculation of Pearson correlation coefficient and its p-value:

>>> import scipy.stats
>>> pearsonr = np.vectorize(scipy.stats.pearsonr,
...                 signature='(n),(n)->(),()')
>>> pearsonr([[0, 1, 2, 3]], [[1, 2, 3, 4], [4, 3, 2, 1]])
(array([ 1., -1.]), array([ 0.,  0.]))

Or for a vectorized convolution:

>>> convolve = np.vectorize(np.convolve, signature='(n),(m)->(k)')
>>> convolve(np.eye(4), [1, 2, 1])
array([[1., 2., 1., 0., 0., 0.],
       [0., 1., 2., 1., 0., 0.],
       [0., 0., 1., 2., 1., 0.],
       [0., 0., 0., 1., 2., 1.]])

Decorator syntax is supported.  The decorator can be called as
a function to provide keyword arguments.
>>>@np.vectorize
...def identity(x):
...    return x
...
>>>identity([0, 1, 2])
array([0, 1, 2])
>>>@np.vectorize(otypes=[float])
...def as_float(x):
...    return x
...
>>>as_float([0, 1, 2])
array([0., 1., 2.])

We can easily convert dates and numerical fields in the dataframe:

In [12]:
for cname in df.columns:
    if cname.startswith('DT_'):
        df[cname] = pd.to_datetime(df[cname], errors='coerce')
    elif cname.startswith('ID_'):
        try:
            df[cname] = pd.to_numeric(df[cname])
        except ValueError:
            continue
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4482 entries, 0 to 4481
Columns: 108 entries, TP_NOT to NU_LOTE_H
dtypes: Float64(2), Int64(4), datetime64[ns](16), string(86)
memory usage: 3.7 MB

Let's convert the age to years and save it on a different column.

In [13]:
df['idade_anos'] = decodifica_idade_SINAN(df.NU_IDADE_N, 'Y')
df[['NU_IDADE_N', 'idade_anos']]

     NU_IDADE_N  idade_anos
0          4013        13.0
1          4054        54.0
2          4031        31.0
3          4063        63.0
4          4036        36.0
...         ...         ...
4477       4079        79.0
4478       4063        63.0
4479       4039        39.0
4480       4036        36.0
4481       4052        52.0

[4482 rows x 2 columns]

## Saving the Modified data
We can save our dataframe in any format we wish to avoid having to redo this analysis next time. If we want to keep only the data from the state of Minas Gerais we need to filter the table using the UF code `31`.

In [14]:
df['SG_UF_NOT'] = df.SG_UF_NOT.astype(int)
df[df.SG_UF_NOT==31].to_csv('chagas_SP_2018_mod.csv',sep=';',compression='zip')

## Combining SINAN and IBGE databases

We could also use different sources to enrich the analysis. In the example below, population data will be used to calculate how many dengue cases per 100k habitants there are in each geocode:

In [15]:
from pysus.online_data import IBGE

In [16]:
pop = IBGE.get_population(source="POP", year=2010)
pop

     MUNIC_RES   ANO  POPULACAO
0       110001  2010      24422
1       110002  2010      90354
2       110003  2010       6309
3       110004  2010      78601
4       110005  2010      17030
...        ...   ...        ...
5560    522200  2010      12549
5561    522205  2010       7371
5562    522220  2010       4742
5563    522230  2010       5145
5564    530010  2010    2562963

[5565 rows x 3 columns]

In [17]:
df = sinan.download(sinan.get_files('DENG', 2010)).to_dataframe()

100%|████████████████████████████████████████████████████████████████| 30.5M/30.5M [00:00<00:00, 37.7GB/s]

In [18]:
df.head()

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,PLASMATICO,EVIDENCIA,PLAQ_MENOR,CON_FHD,COMPLICA,HOSPITALIZ,DT_INTERNA,UF,MUNICIPIO,TP_SISTEMA
0,2,A90,2010-03-19,201011,2010,51,510760,1579,2701626,2010-03-14,...,,,,,,,,,,1
1,2,A90,2010-03-26,201012,2010,51,510760,1579,2701626,2010-03-21,...,,,,,,,,,,1
2,2,A90,2010-03-12,201010,2010,51,510760,1579,2701626,2010-03-07,...,,,,,,,,,,1
3,2,A90,2010-03-23,201012,2010,51,510760,1579,2701626,2010-03-18,...,,,,,,,,,,1
4,2,A90,2010-03-12,201010,2010,51,510760,1579,2701626,2010-03-07,...,,,,,,,,,,1