In [6]:
from pysus.online_data.SIA import download, show_datatypes
from pysus.online_data import parquets_to_dataframe

In [7]:
%matplotlib inline

## Dataset types
The SIA Information system contains multiple types of datasets we can download with PySUS. These are:

In [8]:
show_datatypes()

{'AB': ('APAC de Cirurgia Bariátrica', 1, 2008),
 'ACF': ('APAC de Confecção de Fístula', 1, 2008),
 'AD': ('APAC de Laudos Diversos', 1, 2008),
 'AM': ('APAC de Medicamentos', 1, 2008),
 'AMP': ('APAC de Acompanhamento Multiprofissional', 1, 2008),
 'AN': ('APAC de Nefrologia', 1, 2008),
 'AQ': ('APAC de Quimioterapia', 1, 2008),
 'AR': ('APAC de Radioterapia', 1, 2008),
 'ATD': ('APAC de Tratamento Dialítico', 1, 2008),
 'BI': ('Boletim de Produção Ambulatorial individualizado', 1, 2008),
 'PA': ('Produção Ambulatorial', 7, 1994),
 'PS': ('RAAS Psicossocial', 1, 2008),
 'SAD': ('RAAS de Atenção Domiciliar', 1, 2008)}

In [9]:
SPa = download('SP', 2020, 12, group='PA')[0] # Some large datasets are split in more than one DBC
dfSPa = parquets_to_dataframe(SPa)

In [8]:
dfSPa.head()

,PA_CODUNI,PA_GESTAO,PA_CONDIC,PA_UFMUN,PA_REGCT,PA_INCOUT,PA_INCURG,PA_TPUPS,PA_TIPPRE,PA_MN_IND,...,PA_CODOCO,PA_FLQT,PA_FLER,PA_ETNIA,PA_VL_CF,PA_VL_CL,PA_VL_INC,PA_SRV_C,PA_INE,PA_NAT_JUR
0,2076802,350000,EP,354910,0000,0000,0000,36,00,M,...,1,K,0,,0.00,0.00,0.00,125001,,1023
1,2076802,350000,EP,354910,0000,0000,0000,36,00,M,...,1,K,0,,0.00,0.00,0.00,125001,,1023
2,2076802,350000,EP,354910,0000,0000,0000,36,00,M,...,1,K,0,,0.00,0.00,0.00,125001,,1023
3,2076802,350000,EP,354910,0000,0000,0000,36,00,M,...,1,K,0,,0.00,0.00,0.00,125001,,1023
4,2076802,350000,EP,354910,0000,0000,0000,36,00,M,...,1,K,0,,0.00,0.00,0.00,125001,,1023

import pysus