# Downloading data from the SINAN database

In [1]:
from pysus.online_data import SINAN
import pandas as pd

SINAN is a database of reported cases of certain diseases that Brazilian law requires to be reported. Unfortunately the data available for free download, corresponds only to the investigated cases not the totality of the reported cases. Nevertheless it's an interesting dataset.

To find out what are these diseases, we can use PySUS:

In [2]:
SINAN.list_diseases()

['Animais Peçonhentos',
 'Botulismo',
 'Chagas',
 'Colera',
 'Coqueluche',
 'Dengue',
 'Difteria',
 'Esquistossomose',
 'Febre Amarela',
 'Febre Maculosa',
 'Febre Tifoide',
 'Hanseniase',
 'Hantavirose',
 'Hepatites Virais',
 'Intoxicação Exógena',
 'Leishmaniose Visceral',
 'Leptospirose',
 'Leishmaniose Tegumentar',
 'Malaria',
 'Meningite',
 'Peste',
 'Poliomielite',
 'Raiva Humana',
 'Tétano Acidental',
 'Tétano Neonatal',
 'Tuberculose',
 'Violência Domestica']

These diseases are available by state, so if we want to see the cases of `Chagas` disease in the state of Minas Gerais, first we can check which years are available:

In [3]:
SINAN.get_available_years('RJ', 'chagas')

['CHAGRJ07.dbc',
 'CHAGRJ08.dbc',
 'CHAGRJ09.dbc',
 'CHAGRJ10.dbc',
 'CHAGRJ11.dbc',
 'CHAGRJ12.dbc',
 'CHAGRJ13.dbc',
 'CHAGRJ14.dbc',
 'CHAGRJ15.dbc',
 'CHAGRJ16.dbc',
 'CHAGRJ17.dbc',
 'CHAGRJ18.dbc']

We can see, that we have data from 2007 until 2018. Now we can download it:

In [5]:
df = SINAN.download('SP',2018,'Chagas')
df

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,DT_OBITO,CON_PROVAV,CON_OUTRA,CON_LOCAL,TPAUTOCTO,COUFINF,COPAISINF,COMUNINF,DOENCA_TRA,DT_ENCERRA
0,2,B571,2018-08-20,201834,2018,35,351570,1333,2773694,2018-07-30,...,None,,,,,,0,,,2019-01-15
1,2,B571,2018-04-20,201816,2018,35,353760,1349,7036892,2018-04-20,...,None,,,,,,0,,,2018-06-20
2,2,B571,2018-06-14,201824,2018,35,350635,1349,7786913,2018-05-31,...,None,,,,,,0,,,2018-07-19
3,2,B571,2018-12-06,201849,2018,35,354100,1349,3551911,2018-06-01,...,None,,,,,,0,,,2019-01-23
4,2,B571,2018-12-19,201851,2018,35,351720,1340,2790475,2018-11-28,...,None,,,,,,0,,,2019-01-10
5,2,B571,2018-04-20,201816,2018,35,354160,1340,7580371,2018-04-19,...,None,,,,,,0,,,2018-05-22
6,2,B571,2018-10-08,201841,2018,35,350280,1336,2043874,2018-08-22,...,None,,,,,,0,,,2018-11-01
7,2,B571,2018-09-10,201837,2018,35,350960,1342,2087219,2018-09-01,...,None,,,,,,0,,,2018-12-20
8,2,B571,2018-09-10,201837,2018,35,355030,1331,2077485,2018-09-05,...,None,,,,,,0,,,2018-11-05
9,2,B571,2018-09-10,201837,2018,35,350560,1348,2049813,2018-06-27,...,None,,,,,,0,,,2018-11-14
10,2,B571,2018-12-12,201850,2018,35,353440,1335,0008117,2018-11-19,...,None,4,,9,3,,0,,2,2019-02-11
11,2,B571,2018-07-24,201830,2018,35,353760,1349,2087294,2018-07-24,...,None,,,,,,0,,,2018-09-26
12,2,B571,2018-01-09,201802,2018,35,352720,1352,2798247,2017-11-01,...,None,,,,,,0,,,2019-02-19
13,2,B571,2018-05-18,201820,2018,35,350280,1336,2032414,2018-05-18,...,None,,,,,,0,,9,2018-07-23
14,2,B571,2018-11-05,201845,2018,35,351870,1349,2043963,2018-11-05,...,None,,,,,,0,,,2019-01-09
15,2,B571,2018-10-16,201842,2018,35,353760,1349,5348889,2018-10-16,...,None,,,,,,0,,,2019-02-13
16,2,B571,2018-07-29,201831,2018,35,353760,1349,2087294,2018-07-24,...,None,,,,,,0,,,2018-11-07
17,2,B571,2018-09-04,201836,2018,35,353120,1342,2749610,2018-01-01,...,None,,,,,,0,,,2018-11-08
18,2,B571,2018-07-11,201828,2018,35,353760,1349,5348889,2018-07-11,...,None,,,,,,0,,,2018-11-07

Let's look at the variables available on the downloaded dataframe

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 99 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TP_NOT      19 non-null     object
 1   ID_AGRAVO   19 non-null     object
 2   DT_NOTIFIC  19 non-null     object
 3   SEM_NOT     19 non-null     object
 4   NU_ANO      19 non-null     object
 5   SG_UF_NOT   19 non-null     object
 6   ID_MUNICIP  19 non-null     object
 7   ID_REGIONA  19 non-null     object
 8   ID_UNIDADE  19 non-null     object
 9   DT_SIN_PRI  19 non-null     object
 10  SEM_PRI     19 non-null     object
 11  DT_NASC     19 non-null     object
 12  NU_IDADE_N  19 non-null     int64
 13  CS_SEXO     19 non-null     object
 14  CS_GESTANT  19 non-null     object
 15  CS_RACA     19 non-null     object
 16  CS_ESCOL_N  19 non-null     object
 17  SG_UF       19 non-null     object
 18  ID_MN_RESI  19 non-null     object
 19  ID_RG_RESI  19 non-null     object
 20  ID_PAIS     19 non-null     object
 21  NDUPLIC_N   19 non-null     object
 22  DT_INVEST   13 non-null     object
 23  ID_OCUPA_N  19 non-null     object
 24  ANT_UF_1    19 non-null     object
 25  MUN_1       19 non-null     object
 26  ANT_UF_2    19 non-null     object
 27  MUN_2       19 non-null     object
 28  ANT_UF_3    19 non-null     object
 29  MUN_3       19 non-null     object
 30  PRESENCA    19 non-null     object
 31  PARASITO    0 non-null      object
 32  HISTORIA    19 non-null     object
 33  CONTROLE    19 non-null     object
 34  MANIPULA    19 non-null     object
 35  MAECHAGA    19 non-null     object
 36  ORAL        19 non-null     object
 37  ASSINTOMA   19 non-null     object
 38  EDEMA       19 non-null     object
 39  MENINGOE    19 non-null     object
 40  POLIADENO   19 non-null     object
 41  FEBRE       19 non-null     object
 42  HEPATOME    19 non-null     object
 43  SINAIS_ICC  19 non-null     object
 44  ARRITMIAS   19 non-null     object
 45  ASTENIA     19 non-null     object
 46  ESPLENOM    19 non-null     object
 47  CHAGOMA     19 non-null     object
 48  OUTRO_SIN   19 non-null     object
 49  OUTRO_ESP   19 non-null     object
 50  DT_COL_DIR  4 non-null      object
 51  EXAME       19 non-null     object
 52  MICRO_HEMA  19 non-null     object
 53  OUTRO       19 non-null     object
 54  DT_COL_IND  1 non-null      object
 55  XENODIAG    19 non-null     object
 56  HEMOCULT    19 non-null     object
 57  DT_COL_S1   7 non-null      object
 58  DT_COL_S2   0 non-null      object
 59  ELI_IGM_S1  19 non-null     object
 60  ELI_IGG_S1  19 non-null     object
 61  ELI_IGM_S2  19 non-null     object
 62  ELI_IGG_S2  19 non-null     object
 63  HEM_IGM_S1  19 non-null     object
 64  HEM_IGG_S1  19 non-null     object
 65  HEM_IGM_S2  19 non-null     object
 66  HEM_IGG_S2  19 non-null     object
 67  IMU_IGM_S1  19 non-null     object
 68  TIT_IGM_S1  19 non-null     object
 69  IMU_IGM_S2  19 non-null     object
 70  TIT_IGM_S2  19 non-null     object
 71  IMU_IGG_S1  19 non-null     object
 72  TIT_IGG_S1  19 non-null     object
 73  IMU_IGG_S2  19 non-null     object
 74  TIT_IGG_S2  19 non-null     object
 75  RESUL_HIS   0 non-null      object
 76  RES_HIST    19 non-null     object
 77  ESPECIFICO  19 non-null     object
 78  SINTOMATIC  19 non-null     object
 79  DROGA       19 non-null     object
 80  TEMPO       1 non-null      float64
 81  CON_TRIAT   19 non-null     object
 82  BIOSSEG     19 non-null     object
 83  FISCALIZA   19 non-null     object
 84  MED_OUTRO   19 non-null     object
 85  OUTRO_DES   19 non-null     object
 86  CLASSI_FIN  19 non-null     object
 87  CRITERIO    19 non-null     object
 88  EVOLUCAO    19 non-null     object
 89  DT_OBITO    0 non-null      object
 90  CON_PROVAV  19 non-null     object
 91  CON_OUTRA   19 non-null     object
 92  CON_LOCAL   19 non-null     object
 93  TPAUTOCTO   19 non-null     object
 94  COUFINF     19 non-null     object
 95  COPAISINF   19 non-null     object
 96  COMUNINF    19 non-null     object
 97  DOENCA_TRA  19 non-null     object
 98  DT_ENCERRA  19 non-null     object
dtypes: float64(1), int64(1), object(97)
memory usage: 14.8+ KB