# Downloading data from the SINAN database

In [1]:
from pysus.online_data import SINAN, last_update
import pandas as pd

SINAN is a database of reported cases of certain diseases that Brazilian law requires to be reported. Unfortunately the data available for free download, corresponds only to the investigated cases not the totality of the reported cases. Nevertheless it's an interesting dataset.

To find out what are these diseases, we can use PySUS:

In [2]:
SINAN.list_diseases()

['Animais Peçonhentos',
 'Botulismo',
 'Cancer',
 'Chagas',
 'Chikungunya',
 'Colera',
 'Coqueluche',
 'Contact Communicable Disease',
 'Acidentes de Trabalho',
 'Dengue',
 'Difteria',
 'Esquistossomose',
 'Febre Amarela',
 'Febre Maculosa',
 'Febre Tifoide',
 'Hanseniase',
 'Hantavirose',
 'Hepatites Virais',
 'Intoxicação Exógena',
 'Leishmaniose Visceral',
 'Leptospirose',
 'Leishmaniose Tegumentar',
 'Malaria',
 'Meningite',
 'Peste',
 'Poliomielite',
 'Raiva Humana',
 'Sífilis Adquirida',
 'Sífilis Congênita',
 'Sífilis em Gestante',
 'Tétano Acidental',
 'Tétano Neonatal',
 'Tuberculose',
 'Violência Domestica',
 'Zika']

These diseases are available in countrywide tables, so if we want to see the cases of `Chagas` disease in the state of Minas Gerais, first we can check which years are available:

In [3]:
SINAN.get_available_years('chagas')

/usr/local/lib/python3.10/dist-packages/pysus/online_data/SINAN.py:62: UserWarning: Now SINAN tables are no longer split by state. Returning countrywide years
  warnings.warn("Now SINAN tables are no longer split by state. Returning countrywide years")

['CHAGBR00.dbc',
 'CHAGBR01.dbc',
 'CHAGBR02.dbc',
 'CHAGBR03.dbc',
 'CHAGBR04.dbc',
 'CHAGBR05.dbc',
 'CHAGBR06.dbc',
 'CHAGBR07.dbc',
 'CHAGBR08.dbc',
 'CHAGBR09.dbc',
 'CHAGBR10.dbc',
 'CHAGBR11.dbc',
 'CHAGBR12.dbc',
 'CHAGBR13.dbc',
 'CHAGBR14.dbc',
 'CHAGBR15.dbc',
 'CHAGBR16.dbc',
 'CHAGBR17.dbc',
 'CHAGBR18.dbc',
 'CHAGBR19.dbc']

We can also check when it was last updated for every disease, and if the table is preliminary or final.

In [4]:
lu = last_update('SINAN')
lu

,folder,date,file_size,file_name
0,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-09-30 10:04:00,26826,ACBIBR06.dbc
1,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-09-30 10:04:00,641813,ACBIBR07.dbc
2,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-09-30 10:04:00,998830,ACBIBR08.dbc
3,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-09-30 10:04:00,1432723,ACBIBR09.dbc
4,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-09-30 10:04:00,1562123,ACBIBR10.dbc
...,...,...,...,...
1052,/dissemin/publicos/SINAN/DADOS/PRELIM,2022-02-21 09:48:00,3702244,TUBEBR21.dbc
1053,/dissemin/publicos/SINAN/DADOS/PRELIM,2022-02-21 09:48:00,64058,TUBEBR22.dbc
1054,/dissemin/publicos/SINAN/DADOS/PRELIM,2021-10-15 11:37:00,24793234,VIOLBR20.dbc
1055,/dissemin/publicos/SINAN/DADOS/PRELIM,2021-10-15 11:37:00,16021135,VIOLBR21.dbc
1056,/dissemin/publicos/SINAN/DADOS/PRELIM,2022-02-23 12:05:00,385559,ZIKABR21.dbc

In [5]:
lu[lu.file_name.str.startswith('CHAG')]

,folder,date,file_size,file_name
70,/dissemin/publicos/SINAN/DADOS/FINAIS,2022-03-28 11:18:00,41075,CHAGBR00.dbc
71,/dissemin/publicos/SINAN/DADOS/FINAIS,2022-03-28 11:18:00,47675,CHAGBR01.dbc
72,/dissemin/publicos/SINAN/DADOS/FINAIS,2022-03-28 11:18:00,69415,CHAGBR02.dbc
73,/dissemin/publicos/SINAN/DADOS/FINAIS,2022-03-28 11:18:00,90539,CHAGBR03.dbc
74,/dissemin/publicos/SINAN/DADOS/FINAIS,2022-03-28 11:18:00,86820,CHAGBR04.dbc
75,/dissemin/publicos/SINAN/DADOS/FINAIS,2022-03-28 11:18:00,223289,CHAGBR05.dbc
76,/dissemin/publicos/SINAN/DADOS/FINAIS,2022-03-28 11:18:00,135953,CHAGBR06.dbc
77,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-11-23 12:21:00,11660,CHAGBR07.dbc
78,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-11-23 12:21:00,11004,CHAGBR08.dbc
79,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-11-23 12:21:00,17913,CHAGBR09.dbc
80,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-11-23 12:21:00,13470,CHAGBR10.dbc
81,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-11-23 12:21:00,17109,CHAGBR11.dbc
82,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-11-23 12:21:00,264167,CHAGBR12.dbc
83,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-11-23 12:21:00,245977,CHAGBR13.dbc
84,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-11-23 12:21:00,261115,CHAGBR14.dbc
85,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-11-23 12:21:00,188615,CHAGBR15.dbc
86,/dissemin/publicos/SINAN/DADOS/FINAIS,2022-03-28 11:18:00,244387,CHAGBR16.dbc
87,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-11-23 12:21:00,215819,CHAGBR17.dbc
88,/dissemin/publicos/SINAN/DADOS/FINAIS,2022-03-28 11:18:00,254336,CHAGBR18.dbc
89,/dissemin/publicos/SINAN/DADOS/FINAIS,2021-11-23 12:21:00,285962,CHAGBR19.dbc
834,/dissemin/publicos/SINAN/DADOS/PRELIM,2022-02-09 15:16:00,189312,CHAGBR20.dbc

We can see, that we have data in final form, from 2000 until 2019, and preliminary data for 2020. Now we can download it:

In [6]:
df = SINAN.download(2019,'CHAGAS')
df

/usr/local/lib/python3.10/dist-packages/pysus/online_data/SINAN.py:62: UserWarning: Now SINAN tables are no longer split by state. Returning countrywide years
  warnings.warn("Now SINAN tables are no longer split by state. Returning countrywide years")
/usr/local/lib/python3.10/dist-packages/pysus/online_data/SINAN.py:92: UserWarning: Now SINAN tables are no longer split by state. Returning country table
  warnings.warn("Now SINAN tables are no longer split by state. Returning country table")

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,DT_OBITO,CON_PROVAV,CON_OUTRA,CON_LOCAL,TPAUTOCTO,COUFINF,COPAISINF,COMUNINF,DOENCA_TRA,DT_ENCERRA
0,b'2',b'B571',b'20190410',b'201915',b'2019',b'16',b'160030',b' ',b'2019639',b'20190301',...,b' ',b'5',b' ',b'2',b'1',b'16',b'1 ',b'160030',b'2',b'20190513'
1,b'2',b'B571',b'20190916',b'201938',b'2019',b'16',b'160030',b' ',b'2022192',b'20190818',...,b' ',b'5',b' ',b'2',b'2',b'16',b'1 ',b'160060',b'2',b'20191002'
2,b'2',b'B571',b'20190307',b'201910',b'2019',b'16',b'160030',b' ',b'2022192',b'20190228',...,b' ',b'5',b' ',b'2',b'1',b'16',b'1 ',b'160030',b' ',b'20190325'
3,b'2',b'B571',b'20191022',b'201943',b'2019',b'16',b'160030',b' ',b'2020653',b'20190909',...,b' ',b'5',b' ',b'2',b'1',b'16',b'1 ',b'160030',b'2',b'20191107'
4,b'2',b'B571',b'20190910',b'201937',b'2019',b'16',b'160060',b' ',b'2020971',b'20190828',...,b' ',b'5',b' ',b'2',b'1',b'16',b'1 ',b'160060',b'2',b'20191108'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4477,b'2',b'B571',b'20190905',b'201936',b'2019',b'26',b'260120',b'1501 ',b'5740592',b'20190904',...,b' ',b' ',b' ',b' ',b' ',b' ',b'0 ',b' ',b' ',b'20191022'
4478,b'2',b'B571',b'20190926',b'201939',b'2019',b'26',b'261390',b'1506 ',b'2348489',b'20190826',...,b' ',b'2',b' ',b'2',b'1',b'26',b'1 ',b'261390',b'2',b'20191008'
4479,b'2',b'B571',b'20190117',b'201903',b'2019',b'26',b'260120',b'1501 ',b'2711443',b'20190105',...,b' ',b' ',b' ',b' ',b' ',b' ',b'0 ',b' ',b' ',b'20190212'
4480,b'2',b'B571',b'20190703',b'201927',b'2019',b'26',b'260820',b'1498 ',b'5276403',b'20190703',...,b' ',b' ',b' ',b' ',b' ',b' ',b'0 ',b' ',b' ',b'20190903'
4481,b'2',b'B571',b'20191108',b'201945',b'2019',b'26',b'261220',b'1502 ',b'5844916',b'20190804',...,b' ',b' ',b' ',b' ',b' ',b' ',b'0 ',b' ',b' ',b'20200124'

In [7]:
# Converting bytes to strings
df = df.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)
df

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,DT_OBITO,CON_PROVAV,CON_OUTRA,CON_LOCAL,TPAUTOCTO,COUFINF,COPAISINF,COMUNINF,DOENCA_TRA,DT_ENCERRA
0,2,B571,20190410,201915,2019,16,160030,,2019639,20190301,...,,5,,2,1,16,1,160030,2,20190513
1,2,B571,20190916,201938,2019,16,160030,,2022192,20190818,...,,5,,2,2,16,1,160060,2,20191002
2,2,B571,20190307,201910,2019,16,160030,,2022192,20190228,...,,5,,2,1,16,1,160030,,20190325
3,2,B571,20191022,201943,2019,16,160030,,2020653,20190909,...,,5,,2,1,16,1,160030,2,20191107
4,2,B571,20190910,201937,2019,16,160060,,2020971,20190828,...,,5,,2,1,16,1,160060,2,20191108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4477,2,B571,20190905,201936,2019,26,260120,1501,5740592,20190904,...,,,,,,,0,,,20191022
4478,2,B571,20190926,201939,2019,26,261390,1506,2348489,20190826,...,,2,,2,1,26,1,261390,2,20191008
4479,2,B571,20190117,201903,2019,26,260120,1501,2711443,20190105,...,,,,,,,0,,,20190212
4480,2,B571,20190703,201927,2019,26,260820,1498,5276403,20190703,...,,,,,,,0,,,20190903
4481,2,B571,20191108,201945,2019,26,261220,1502,5844916,20190804,...,,,,,,,0,,,20200124

## Downloading large files
Some SINAN files can be quite large to load entirely in memory. Therefore we have the possibility to download them in chunks.

In [ ]:
from glob import glob

In [ ]:
fn = SINAN.download(2020, "dengue", return_fname=True)
fn

The cases of dengue where downloaded to multiple chunks to the directory above

In [ ]:
!ls DENGBR20.parquet

Before we decide what to do with the data files, we can check the total size of the chunks:

In [ ]:
!du -h DENGBR20.parquet

Since they are "only" 43MB, we can read them all and reassemble them in memory:

In [ ]:
for i, f in enumerate(glob(f"{fn}/*.parquet")):
    if i == 0:
        df2 = pd.read_parquet(f)
    else:
        df2 = pd.concat([df2, pd.read_parquet(f)], ignore_index=True)
df2

Let's now download the entire file and check the two dataframes have the same number of lines:

In [ ]:
df3 = SINAN.download(2020, "dengue")
len(df3)

## Decoding the age in SINAN tables
In SINAN the age comes encoded. PySUS can decode the age column `NU_IDADE_N` into any of these units: years, months, days, or hours.

In [18]:
from glob import glob

In [13]:
fn = SINAN.download(2020, "dengue", return_fname=True)
fn

/usr/local/lib/python3.10/dist-packages/pysus/online_data/SINAN.py:62: UserWarning: Now SINAN tables are no longer split by state. Returning countrywide years
  warnings.warn("Now SINAN tables are no longer split by state. Returning countrywide years")
/usr/local/lib/python3.10/dist-packages/pysus/online_data/SINAN.py:92: UserWarning: Now SINAN tables are no longer split by state. Returning country table
  warnings.warn("Now SINAN tables are no longer split by state. Returning country table")

'DENGBR20.parquet'

The cases of dengue where downloaded to multiple chunks to the directory above

In [20]:
!ls DENGBR20.parquet

10eaf436512c4457b81f41f3ef7e0d17-0.parquet
15fffb988b004f8aaefff3f57204b481-0.parquet
1c68e3bd37494fe9ae15a9259930c4ce-0.parquet
1dbc898aa8d541319894317bdea20ad6-0.parquet
1e87ebb0240c4d4ea00d22073ac8e1ce-0.parquet
282643b3660d4ed7a482167fedd153a9-0.parquet
37bf184e407a485382b3a67efc689808-0.parquet
3e4696b3d3304f9eaf963982286a6f96-0.parquet
4981463bedc14be2a33a862225ebd6f8-0.parquet
501d55e5538940f393f2029eba973229-0.parquet
506ebd30aef043369cc73fe07ccd0a3e-0.parquet
55a011228fd54bf09ec6abb1ef685c68-0.parquet
59355ebbd0b94119ba30595642f82514-0.parquet
5cf8315a02ff437ab2c09d3ac74c947a-0.parquet
65ee8571b9934404bcb4133b74f9ec98-0.parquet
706366c47e9341bba42bc5be1d6ac5ad-0.parquet
71535dd82c974e3fb2cc8fc3c96618c4-0.parquet
721b4cacae444630bd8ab98091d5a1b5-0.parquet
72ccaa21d4f7435e87c90e0fa330011d-0.parquet
818e4bf7a04b4e6ca5a6ab2972a3c8ef-0.parquet
83ad8441a7004c1c9dce70229dc08bb3-0.parquet
85cb7f02b5664fe38685c0dab5de80f1-0.parquet
93b8697c0b734d0fa47240d3a93248f9-0.parquet
968ff3b020f64e179185db27e566d90f-0.parquet
96e0e729d3d44087890acbc939514b94-0.parquet
a1860c0fe6c14db6b8e66483b2c4c764-0.parquet
a200663ed7d14ba7b2c131e49a3121af-0.parquet
a3085cf13868419e9fa57a7e55168181-0.parquet
a308ecdf6e5842d2b9a062c87b9d801a-0.parquet
a72be243773d4f6dac928d65c52c2c25-0.parquet
af01bcbc90d44ffca45d530a00dbf978-0.parquet
af6f3e7840114db88f5207c46f3b3ed8-0.parquet
b101f8332d554e3092087ae7f75d9d47-0.parquet
b7ba791eb5474ac4b1af1469badb8f9b-0.parquet
c88dcd8cd0c848a587ba6a3ffe849a79-0.parquet
d901d6abfb8f49f188ef696e47083b47-0.parquet
da81d099d2494b359be1f4b21e4a012b-0.parquet
dc866e7166e244648f10616c9fd15d7e-0.parquet
e312fbc2e8024ffa8afd65d120ccca1d-0.parquet
e41ee22209fb41439441a0931f5dc427-0.parquet
e55b019cf3af43d7943baa5cc5f15c52-0.parquet
e8e5e9bd683a4e618d58a42fcae9293b-0.parquet
ea30516b232e40659d6c9fecaea55e45-0.parquet
eadf052e57184282b7723ac965f12d06-0.parquet
ec522c3bb5ff48d19da6f75a996249fc-0.parquet
eeb002779e4442b2b8242ea0090539ab-0.parquet
f1d8dd2ecfa94acaa4e5fdb70cac47ac-0.parquet
f8bcfff059ad4f9d9c9ac8f7991c5e6d-0.parquet
fc2060dd723843cb958b55e87ac53488-0.parquet
feade9c9039446edb243d2747a398fcb-0.parquet

Before we decide what to do with the data files, we can check the total size of the chunks:

In [16]:
!du -h DENGBR20.parquet

43M	DENGBR20.parquet

Since they are "only" 43MB, we can read them all and reassemble them in memory:

In [19]:
for i, f in enumerate(glob(f"{fn}/*.parquet")):
    if i == 0:
        df2 = pd.read_parquet(f)
    else:
        df2 = pd.concat([df2, pd.read_parquet(f)], ignore_index=True)
df2

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,LACO_N,PLASMATICO,EVIDENCIA,PLAQ_MENOR,CON_FHD,COMPLICA,TP_SISTEMA,NDUPLIC_N,CS_FLXRET,FLXRECEBI
0,2,A90,2020-06-03,,2020,50,500660,1972,5870178,2020-06-01,...,,,,,,,2,,0,
1,2,A90,2020-04-02,,2020,50,500660,1972,2651610,2020-03-31,...,,,,,,,2,,0,
2,2,A90,2020-05-31,,2020,50,500660,1972,2651610,2020-05-30,...,,,,,,,2,,0,
3,2,A90,2020-09-05,,2020,50,500660,1972,2651610,2020-08-29,...,,,,,,,2,,0,
4,2,A90,2020-04-25,,2020,50,500660,1972,5870178,2020-04-24,...,,,,,,,2,,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495112,2,A90,2020-01-28,,2020,32,320530,1510,2675110,2020-01-27,...,,,,,,,2,,0,
1495113,2,A90,2020-02-20,,2020,32,320530,1510,0012173,2020-02-18,...,,,,,,,2,,0,
1495114,2,A90,2020-03-02,,2020,32,320530,1510,0012173,2020-02-23,...,,,,,,,2,,0,
1495115,2,A90,2020-02-17,,2020,32,320530,1510,0028177,2020-02-05,...,,,,,,,2,,0,
1495116,2,A90,2020-03-04,,2020,32,320530,1510,0012173,2020-01-31,...,,,,,,,2,,0,

Let's now download the entire file and check the two dataframes have the same number of lines:

In [21]:
df3 = SINAN.download(2020, "dengue")
len(df3)

/usr/local/lib/python3.10/dist-packages/pysus/online_data/SINAN.py:62: UserWarning: Now SINAN tables are no longer split by state. Returning countrywide years
  warnings.warn("Now SINAN tables are no longer split by state. Returning countrywide years")
/usr/local/lib/python3.10/dist-packages/pysus/online_data/SINAN.py:92: UserWarning: Now SINAN tables are no longer split by state. Returning country table
  warnings.warn("Now SINAN tables are no longer split by state. Returning country table")

1495117

## Decoding the age in SINAN tables
In SINAN the age comes encoded. PySUS can decode the age column `NU_IDADE_N` into any of these units: years, months, days, or hours.

In [8]:
from pysus.preprocessing.decoders import decodifica_idade_SINAN
decodifica_idade_SINAN?

We can easily convert dates and numerical fields in the dataframe:

In [9]:
for cname in df.columns:
    if cname.startswith('DT_'):
        df[cname] = pd.to_datetime(df[cname], errors='coerce')
    elif cname.startswith('ID_'):
        try:
            df[cname] = pd.to_numeric(df[cname])
        except ValueError:
            continue
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4482 entries, 0 to 4481
Data columns (total 99 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TP_NOT      4482 non-null   object
 1   ID_AGRAVO   4482 non-null   object
 2   DT_NOTIFIC  4482 non-null   datetime64[ns]
 3   SEM_NOT     4482 non-null   object
 4   NU_ANO      4482 non-null   object
 5   SG_UF_NOT   4482 non-null   object
 6   ID_MUNICIP  4482 non-null   int64
 7   ID_REGIONA  4482 non-null   object
 8   ID_UNIDADE  4482 non-null   int64
 9   DT_SIN_PRI  4482 non-null   datetime64[ns]
 10  SEM_PRI     4482 non-null   object
 11  DT_NASC     4447 non-null   datetime64[ns]
 12  NU_IDADE_N  4482 non-null   object
 13  CS_SEXO     4482 non-null   object
 14  CS_GESTANT  4482 non-null   object
 15  CS_RACA     4482 non-null   object
 16  CS_ESCOL_N  4482 non-null   object
 17  SG_UF       4482 non-null   object
 18  ID_MN_RESI  4482 non-null   int64
 19  ID_RG_RESI  4482 non-null   object
 20  ID_PAIS     4482 non-null   int64
 21  NDUPLIC_N   4482 non-null   object
 22  DT_INVEST   4329 non-null   datetime64[ns]
 23  ID_OCUPA_N  4482 non-null   object
 24  ANT_UF_1    4482 non-null   object
 25  MUN_1       4482 non-null   object
 26  ANT_UF_2    4482 non-null   object
 27  MUN_2       4482 non-null   object
 28  ANT_UF_3    4482 non-null   object
 29  MUN_3       4482 non-null   object
 30  PRESENCA    4482 non-null   object
 31  PARASITO    4482 non-null   object
 32  HISTORIA    4482 non-null   object
 33  CONTROLE    4482 non-null   object
 34  MANIPULA    4482 non-null   object
 35  MAECHAGA    4482 non-null   object
 36  ORAL        4482 non-null   object
 37  ASSINTOMA   4482 non-null   object
 38  EDEMA       4482 non-null   object
 39  MENINGOE    4482 non-null   object
 40  POLIADENO   4482 non-null   object
 41  FEBRE       4482 non-null   object
 42  HEPATOME    4482 non-null   object
 43  SINAIS_ICC  4482 non-null   object
 44  ARRITMIAS   4482 non-null   object
 45  ASTENIA     4482 non-null   object
 46  ESPLENOM    4482 non-null   object
 47  CHAGOMA     4482 non-null   object
 48  OUTRO_SIN   4482 non-null   object
 49  OUTRO_ESP   4482 non-null   object
 50  DT_COL_DIR  2693 non-null   datetime64[ns]
 51  EXAME       4482 non-null   object
 52  MICRO_HEMA  4482 non-null   object
 53  OUTRO       4482 non-null   object
 54  DT_COL_IND  155 non-null    datetime64[ns]
 55  XENODIAG    4482 non-null   object
 56  HEMOCULT    4482 non-null   object
 57  DT_COL_S1   3300 non-null   datetime64[ns]
 58  DT_COL_S2   790 non-null    datetime64[ns]
 59  ELI_IGM_S1  4482 non-null   object
 60  ELI_IGG_S1  4482 non-null   object
 61  ELI_IGM_S2  4482 non-null   object
 62  ELI_IGG_S2  4482 non-null   object
 63  HEM_IGM_S1  4482 non-null   object
 64  HEM_IGG_S1  4482 non-null   object
 65  HEM_IGM_S2  4482 non-null   object
 66  HEM_IGG_S2  4482 non-null   object
 67  IMU_IGM_S1  4482 non-null   object
 68  TIT_IGM_S1  4482 non-null   object
 69  IMU_IGM_S2  4482 non-null   object
 70  TIT_IGM_S2  4482 non-null   object
 71  IMU_IGG_S1  4482 non-null   object
 72  TIT_IGG_S1  4482 non-null   object
 73  IMU_IGG_S2  4482 non-null   object
 74  TIT_IGG_S2  4482 non-null   object
 75  RESUL_HIS   4482 non-null   object
 76  RES_HIST    4482 non-null   object
 77  ESPECIFICO  4482 non-null   object
 78  SINTOMATIC  4482 non-null   object
 79  DROGA       4482 non-null   object
 80  TEMPO       4482 non-null   object
 81  CON_TRIAT   4482 non-null   object
 82  BIOSSEG     4482 non-null   object
 83  FISCALIZA   4482 non-null   object
 84  MED_OUTRO   4482 non-null   object
 85  OUTRO_DES   4482 non-null   object
 86  CLASSI_FIN  4482 non-null   object
 87  CRITERIO    4482 non-null   object
 88  EVOLUCAO    4482 non-null   object
 89  DT_OBITO    54 non-null     datetime64[ns]
 90  CON_PROVAV  4482 non-null   object
 91  CON_OUTRA   4482 non-null   object
 92  CON_LOCAL   4482 non-null   object
 93  TPAUTOCTO   4482 non-null   object
 94  COUFINF     4482 non-null   object
 95  COPAISINF   4482 non-null   object
 96  COMUNINF    4482 non-null   object
 97  DOENCA_TRA  4482 non-null   object
 98  DT_ENCERRA  4366 non-null   datetime64[ns]
dtypes: datetime64[ns](10), int64(4), object(85)
memory usage: 3.4+ MB

Let's convert the age to years and save it on a different column.

In [10]:
df['idade_anos'] = decodifica_idade_SINAN(df.NU_IDADE_N, 'Y')
df[['NU_IDADE_N', 'idade_anos']]

     NU_IDADE_N  idade_anos
0          4013        13.0
1          4054        54.0
2          4031        31.0
3          4063        63.0
4          4036        36.0
...         ...         ...
4477       4079        79.0
4478       4063        63.0
4479       4039        39.0
4480       4036        36.0
4481       4052        52.0

[4482 rows x 2 columns]

## Saving the Modified data
We can save our dataframe in any format we wish to avoid having to redo this analysis next time. If we want to keep only the data from the state of Minas Gerais we need to filter the table using the UF code `31`.

In [11]:
df['SG_UF_NOT'] = df.SG_UF_NOT.astype(int)
df[df.SG_UF_NOT==31].to_csv('chagas_SP_2018_mod.csv',sep=';',compression='zip')