In [15]:
from pysus.utilities.readdbc import read_dbc
from pysus.online_data.sinasc import download
from dbfread import DBF
import pandas as pd
import qgrid
from qgrid import show_grid

In [16]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [17]:
dfse = download('SE',2015)

True

In [19]:
# show_grid(dfse[:100],grid_options={'forceFitColumns': False});
dfse.head()

,NUMERODN,CODINST,ORIGEM,NUMERODV,PREFIXODN,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,...,TPFUNCRESP,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,STDNEPIDEM,STDNNOVA,CODPAISRES,TPROBSON,PARIDADE,KOTELCHUCK
0,19533794,MSE2805100001,1,,,,280510,3,37,2,...,,,,,0,0,,11,1,9
1,52927108,MSE2802700001,1,9,30,,280270,3,24,2,...,,,,,0,0,,11,1,9
2,54673238,MSE2804400001,1,2,30,,280440,3,20,9,...,1,5,17092015,09,0,1,,11,1,5
3,54673239,MSE2804400001,1,0,30,2421534,280440,1,28,1,...,2,3,08022015,00,0,1,,10,1,3
4,54695292,MBA2916500001,1,7,30,2799782,291650,1,35,2,...,5,0,13012015,01,0,1,,03,1,2