In [1]:
from pysus.online_data.sinasc import download
from pysus.online_data import parquets_to_dataframe

In [16]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
dfse = parquets_to_dataframe(download('SE',2015))

In [3]:
# show_grid(dfse[:100],grid_options={'forceFitColumns': False});
dfse.head()

   contador  ORIGEM  CODESTAB  ...  TPROBSON  PARIDADE  KOTELCHUCK
0  1         1                 ...  11        1         9
1  2         1                 ...  11        1         9
2  3         1                 ...  11        1         5
3  4         1       2421534   ...  10        1         3
4  5         1       2799782   ...  03        1         2

[5 rows x 61 columns]