## Processin SIM data

In [1]:
from pysus.online_data.SIM import download
from pysus.preprocessing.decoders import translate_variables_SIM
from pysus.preprocessing.SIM import group_and_count, redistribute

In [2]:
df = download('sp',2010)
df

       CONTADOR ORIGEM TIPOBITO  ... DTCADINF TPOBITOCOR DTCADINV
0             1      1        2  ...
1             2      1        2  ...
2             3      1        2  ...
3             4      1        2  ...
4             5      1        2  ...
...         ...    ...      ...  ...      ...        ...      ...
264946   264947      3        2  ...
264947   264948      3        2  ...
264948   264949      3        2  ...
264949   264950      3        2  ...
264950   264951      3        2  ...

[264951 rows x 58 columns]

In [3]:
variables = ['CODMUNRES','SEXO','IDADE_ANOS']
df = translate_variables_SIM(df,age_classes=True)
df = df[variables]
df

       CODMUNRES       SEXO    IDADE_ANOS
0        3550308  Masculino  [77.0, 78.0)
1        3550308   Feminino  [64.0, 65.0)
2        3550308  Masculino  [72.0, 73.0)
3        3550308  Masculino  [43.0, 44.0)
4        3550308  Masculino  [82.0, 83.0)
...          ...        ...           ...
264946   3550308  Masculino  [80.0, 81.0)
264947   3550308  Masculino  [65.0, 66.0)
264948   3550308   Feminino  [83.0, 84.0)
264949   3550308   Feminino   [90.0, inf)
264950   3522208  Masculino  [36.0, 37.0)

[264951 rows x 3 columns]

In [4]:
counts = group_and_count(df,variables)
counts

       CODMUNRES      SEXO    IDADE_ANOS  CONTAGEM
0        3500105  Feminino    [0.0, 1.0)       0.0
1        3500105  Feminino    [1.0, 2.0)       0.0
2        3500105  Feminino    [2.0, 3.0)       0.0
3        3500105  Feminino    [3.0, 4.0)       0.0
4        3500105  Feminino    [4.0, 5.0)       0.0
...          ...       ...           ...       ...
178291       nan       nan  [87.0, 88.0)       0.0
178292       nan       nan  [88.0, 89.0)       0.0
178293       nan       nan  [89.0, 90.0)       0.0
178294       nan       nan   [90.0, inf)       0.0
178295       nan       nan           nan      22.0

[178296 rows x 4 columns]

In [17]:
counts = redistribute(counts,variables)
counts

Criando dataframes de dados faltantes

       CODMUNRES       SEXO    IDADE_ANOS  CONTAGEM
0        3500105   Feminino    [0.0, 1.0)  0.000000
1        3500105   Feminino    [1.0, 2.0)  0.000000
2        3500105   Feminino    [2.0, 3.0)  0.000000
3        3500105   Feminino    [3.0, 4.0)  0.000000
4        3500105   Feminino    [4.0, 5.0)  0.000000
...          ...        ...           ...       ...
177922   3557303  Masculino  [86.0, 87.0)  1.002131
177923   3557303  Masculino  [87.0, 88.0)  1.002131
177924   3557303  Masculino  [88.0, 89.0)  0.000000
177925   3557303  Masculino  [89.0, 90.0)  2.004263
177926   3557303  Masculino   [90.0, inf)  0.000000

[117390 rows x 4 columns]