## Processin SIM data

In [13]:
from pysus.online_data.SIM import download
from pysus.preprocessing.decoders import translate_variables_SIM, group_and_count, redistribute

In [14]:
df = download('sp',2010)
df

,CONTADOR,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,DTNASC,IDADE,SEXO,RACACOR,...,DTCADASTRO,ATESTANTE,FONTEINV,DTRECEBIM,UFINFORM,CB_PRE,MORTEPARTO,DTCADINF,TPOBITOCOR,DTCADINV
0,1,1,2,22072010,0700,829,18011933,477,1,1,...,28072010,1,,30082010,,J180,,,,
1,2,1,2,30082010,0700,831,05111945,464,2,2,...,14092010,1,,13102010,,C169,,,,
2,3,1,2,25092010,1700,835,26051938,472,1,3,...,13102010,1,,27102010,,I219,,,,
3,4,1,2,29012010,0740,835,04031966,443,1,,...,22022010,1,,12032010,,B208,,,,
4,5,1,2,01072010,1600,831,04111927,482,1,1,...,10082010,2,,12082010,,I251,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264946,264947,3,2,25122010,0345,826,28031930,480,1,,...,,4,,,,,,,,
264947,264948,3,2,25122010,1800,835,19111945,465,1,,...,,,,,,,,,,
264948,264949,3,2,25122010,2100,835,27071927,483,2,,...,,,,,,,,,,
264949,264950,3,2,25122010,2005,835,22061909,501,2,,...,,,,,,,,,,
264950,264951,3,2,28012010,,835,10051973,436,1,,...,,,,,,,,,,

In [15]:
variables = ['CODMUNRES','SEXO','IDADE_ANOS']
df = translate_variables_SIM(df,age_classes=True)
df = df[variables]
df

       CODMUNRES       SEXO    IDADE_ANOS
0        3550308  Masculino  [77.0, 78.0)
1        3550308   Feminino  [64.0, 65.0)
2        3550308  Masculino  [72.0, 73.0)
3        3550308  Masculino  [43.0, 44.0)
4        3550308  Masculino  [82.0, 83.0)
...          ...        ...           ...
264946   3550308  Masculino  [80.0, 81.0)
264947   3550308  Masculino  [65.0, 66.0)
264948   3550308   Feminino  [83.0, 84.0)
264949   3550308   Feminino   [90.0, inf)
264950   3522208  Masculino  [36.0, 37.0)

[264951 rows x 3 columns]

In [16]:
counts = group_and_count(df,variables)
counts

       CODMUNRES      SEXO    IDADE_ANOS  CONTAGEM
0        3500105  Feminino    [0.0, 1.0)       0.0
1        3500105  Feminino    [1.0, 2.0)       0.0
2        3500105  Feminino    [2.0, 3.0)       0.0
3        3500105  Feminino    [3.0, 4.0)       0.0
4        3500105  Feminino    [4.0, 5.0)       0.0
...          ...       ...           ...       ...
178291       nan       nan  [87.0, 88.0)       0.0
178292       nan       nan  [88.0, 89.0)       0.0
178293       nan       nan  [89.0, 90.0)       0.0
178294       nan       nan   [90.0, inf)       0.0
178295       nan       nan           nan      22.0

[178296 rows x 4 columns]

In [17]:
counts = redistribute(counts,variables)
counts

Criando dataframes de dados faltantes

       CODMUNRES       SEXO    IDADE_ANOS  CONTAGEM
0        3500105   Feminino    [0.0, 1.0)  0.000000
1        3500105   Feminino    [1.0, 2.0)  0.000000
2        3500105   Feminino    [2.0, 3.0)  0.000000
3        3500105   Feminino    [3.0, 4.0)  0.000000
4        3500105   Feminino    [4.0, 5.0)  0.000000
...          ...        ...           ...       ...
177922   3557303  Masculino  [86.0, 87.0)  1.002131
177923   3557303  Masculino  [87.0, 88.0)  1.002131
177924   3557303  Masculino  [88.0, 89.0)  0.000000
177925   3557303  Masculino  [89.0, 90.0)  2.004263
177926   3557303  Masculino   [90.0, inf)  0.000000

[117390 rows x 4 columns]