# SIM - Sistema de Informação sobre Mortalidade

In [1]:
from pysus.ftp.databases import SIM
sim = SIM().load() # Loads the files from DATASUS

In [2]:
sim.metadata

{'long_name': 'Sistema de Informação sobre Mortalidade',
 'source': 'http://sim.saude.gov.br',
 'description': ''}

In [3]:
sim.groups

{'DO': 'CID10', 'DOR': 'CID9'}

For more information about CID9 and CID10, visit http://tabnet.saude.es.gov.br/cgi/tabnet/sim/sim96/obtdescr.htm

### Getting specific files

In [4]:
sim.get_files(groups=["CID9"], ufs=["SP", "RJ"], years=[1993, 1994, 1995])

[DORRJ93.DBC, DORRJ94.DBC, DORRJ95.DBC, DORSP93.DBC, DORSP94.DBC, DORSP95.DBC]

In [5]:
sim.get_files(groups=["CID10"], ufs=["SP", "RJ"], years=[2019, 2020, 2021])

[DORJ2019.dbc,
 DORJ2020.dbc,
 DORJ2021.dbc,
 DOSP2019.dbc,
 DOSP2020.dbc,
 DOSP2021.dbc]

In [6]:
files = sim.get_files(groups=["CID9", "CID10"], ufs=["SP"], years=[1995, 2020])
sp_cid9, sp_cid10 = files

### Describing a file inside DATASUS server

In [7]:
sim.describe(sp_cid9)

{'name': 'DORSP95.DBC',
 'uf': 'São Paulo',
 'year': 1995,
 'group': 'CID9',
 'size': '8.2 MB',
 'last_update': '01-31-2020 02:48PM'}

In [8]:
sim.describe(sp_cid10)

{'name': 'DOSP2020.dbc',
 'uf': 'São Paulo',
 'year': 2020,
 'group': 'CID10',
 'size': '28.7 MB',
 'last_update': '03-31-2022 04:19PM'}

### Downloading files

You can rather download multiple files or download them individually:

In [9]:
sim.download(files) # Downloads to default directory

['/home/bida/pysus/DORSP95.DBC', '/home/bida/pysus/DOSP2020.dbc']

In [10]:
sp_cid9.download()

'/home/bida/pysus/DORSP95.DBC'

You can specify a local directory to download:

In [11]:
sim.download(files, local_dir="/tmp")

['/tmp/DORSP95.DBC', '/tmp/DOSP2020.dbc']

In [12]:
sp_cid9.download(local_dir="/tmp")

'/tmp/DORSP95.DBC'

@Note: If the file has been downloaded already, it's required to delete it in order to download the lastest updated file from DATASUS.

# SIM Metadata Information

In [13]:
from pysus.online_data.SIM import get_CID9_table, get_CID10_table, get_municipios, get_ocupations

In [14]:
get_CID9_table()

2023-09-06 15:10:48.247 | DEBUG    | pysus.online_data.SIM:get_CID9_table:141 - Stablishing connection with ftp.datasus.gov.br.
220 Microsoft FTP Service
2023-09-06 15:10:48.272 | DEBUG    | pysus.online_data.SIM:get_CID9_table:145 - Changing FTP work dir to: /dissemin/publicos/SIM/CID9/TABELAS
2023-09-06 15:10:48.273 | INFO     | pysus.online_data.SIM:get_CID9_table:155 - Local parquet file found at /home/bida/pysus/SIM_CID9_.parquet

                                          DESCRICAO CAUSAS
0                                       001  COLERA    001
1                 002  FEBRES TIFOIDE E PARATIFOIDE    002
2              003  OUTRAS INFECCOES POR SALMONELLA    003
3                                   004  SHIGUELOSE    004
4        005  OUT INTOXIC ALIMENTARES (BACTERIANAS)    005
..                                              ...    ...
881  E995  LES OUT MEIOS OU N ESP OP GUERRA CONVENC    995
882   E996  LES ARMA NUCLEAR EM OPERACOES DE GUERRA    996
883      E997  LES OUT FORM GUERRA NAO CONVENCIONAL    997
884  E998  LES OP GUERRA OCORR APOS CESSACAO HOSTIL    998
885   E999  EFEIT TARDIOS DE LES OPERACAO DE GUERRA    999

[886 rows x 2 columns]

In [15]:
get_CID10_table()

2023-09-06 15:10:48.402 | DEBUG    | pysus.online_data.SIM:get_CID10_table:95 - Stablishing connection with ftp.datasus.gov.br.
220 Microsoft FTP Service
2023-09-06 15:10:48.424 | DEBUG    | pysus.online_data.SIM:get_CID10_table:99 - Changing FTP work dir to: /dissemin/publicos/SIM/CID10/TABELAS
2023-09-06 15:10:48.427 | INFO     | pysus.online_data.SIM:get_CID10_table:109 - Local parquet file found at /home/bida/pysus/SIM_CID10_.parquet

,CID10,OPC,CAT,SUBCAT,DESCR,RESTRSEXO
0,A00,,S,N,A00 Colera,5
1,A000,,N,S,A00.0 Colera dev Vibrio cholerae 01 biot cholerae,5
2,A001,,N,S,A00.1 Colera dev Vibrio cholerae 01 biot El Tor,5
3,A009,,N,S,A00.9 Colera NE,5
4,A01,,S,N,A01 Febres tifoide e paratifoide,5
...,...,...,...,...,...,...
14252,Z926,,N,S,Z92.6 História pessoal de quimioterapia para d...,5
14253,U070,,N,S,U07.0 Doença por cigarro eletrônico,5
14254,U071,,N,S,U07.1 Infecção pelo novo Coronavírus (COVID-19),5
14255,U072,,N,S,"U07.2 COVID-19, vírus não identificado",5
14256,U07,,S,N,U07 Uso emergencial do U07,5

In [16]:
get_municipios()

2023-09-06 15:10:48.554 | DEBUG    | pysus.online_data.SIM:get_municipios:187 - Stablishing connection with ftp.datasus.gov.br.
220 Microsoft FTP Service
2023-09-06 15:10:48.575 | DEBUG    | pysus.online_data.SIM:get_municipios:191 - Changing FTP work dir to: /dissemin/publicos/SIM/CID10/TABELAS
2023-09-06 15:10:48.577 | INFO     | pysus.online_data.SIM:get_municipios:201 - Local parquet file found at /home/bida/pysus/SIM_CADMUN_.parquet

,MUNCOD,MUNCODDV,SITUACAO,MUNSINP,MUNSIAFI,MUNNOME,MUNNOMEX,OBSERV,MUNSINON,MUNSINONDV,...,CSAUDCOD,RMETRCOD,AGLCOD,ANOINST,ANOEXT,SUCESSOR,LATITUDE,LONGITUDE,ALTITUDE,AREA
0,000000,0000000,IGNOR,00000,,Ignorado ou exterior,IGNORADO OU EXTERIOR,Ignorado,", ,000001-009999",", ,0000001-0099999",...,00000,0000,0000,,,,0.000,0.000,0.0,0.000
1,110000,1100000,IGNOR,26000,,Munic¡pio ignorado - RO,MUNICIPIO IGNORADO - RO,,",119999",",1199999",...,11000,1100,1100,,,,0.000,0.000,0.0,0.000
2,110001,1100015,ATIVO,26016,0033,Alta Floresta D'Oeste,ALTA FLORESTA D'OESTE,,,,...,11900,1190,1190,1986,,,-11.929,-61.996,350.0,7066.702
3,110002,1100023,ATIVO,26004,0007,Ariquemes,ARIQUEMES,,,,...,11900,1190,1190,1977,,,-9.913,-63.041,142.0,4426.558
4,110003,1100031,ATIVO,26020,0037,Cabixi,CABIXI,,,,...,11900,1190,1190,1989,,,-13.492,-60.545,230.0,1314.355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5647,522208,5222088,TRANS,,,Wanderlndia (transf. p/TO),WANDERLANDIA (TRANSF. P/TO),Transferido para Tocantins,,,...,52980,5298,5298,,1988,1722081,0.000,0.000,0.0,0.000
5648,522210,5222104,TRANS,,,Xambio (transf. p/TO),XAMBIOA (TRANSF. P/TO),Transferido para Tocantins,,,...,52980,5298,5298,,1988,1722107,0.000,0.000,0.0,0.000
5649,522220,5222203,ATIVO,08313,0067,Vila Boa,VILA BOA,,,,...,52900,5301,5301,1993,,,-15.038,-47.059,0.0,1060.170
5650,522230,5222302,ATIVO,08323,1068,Vila Prop¡cio,VILA PROPICIO,,,,...,52900,5290,5290,1997,,,-15.457,-48.889,744.0,2181.575
5651,530010,5300108,ATIVO,23001,9701,Bras¡lia,BRASILIA,,",530000-530009,530011-539999",",5300000-5300099,5300110-5399999",...,53001,5301,5301,1960,,,-15.780,-47.930,1171.0,5801.937

In [17]:
get_ocupations()

2023-09-06 15:10:48.739 | DEBUG    | pysus.online_data.SIM:get_ocupations:233 - Stablishing connection with ftp.datasus.gov.br.
220 Microsoft FTP Service
2023-09-06 15:10:48.760 | DEBUG    | pysus.online_data.SIM:get_ocupations:237 - Changing FTP work dir to: /dissemin/publicos/SIM/CID10/TABELAS
2023-09-06 15:10:48.761 | INFO     | pysus.online_data.SIM:get_ocupations:246 - Local parquet file found at /home/bida/pysus/SIM_TABOCUP_.parquet

     CODIGO                                     DESCRICAO
0       639                  ABALIZADOR (AREAS AGRICOLAS)
1       759                        ABASTECEDOR DE ESPULAS
2       893               ABASTECEDOR DE FORNO (CERAMICA)
3       999              ABASTECEDOR DE LINHA DE PRODUCAO
4       739  ABASTECEDOR DE MAQUINAS (MAD. E PASTA PAPEL)
...     ...                                           ...
3559    540                         ZELADOR DE VESTIARIOS
3560    551                     ZELADOR SEM ESPECIFICACAO
3561    728                                      ZINCADOR
3562    051                                       ZOOLOGO
3563    065                                   ZOOTECNISTA

[3564 rows x 2 columns]