# Fetching National level table from SINAN

In [1]:
from pysus.online_data import _fetch_file, get_CID10_table
from pysus.online_data.SINAN import download

In [16]:
# df = _fetch_file(fname='CHIKBR15.dbc',path='/dissemin/publicos/SINAN/DADOS/FINAIS', ftype='DBC')
df = download('BR',2015,'Chikungunya')

In [17]:
df

,TP_NOT,ID_AGRAVO,CS_SUSPEIT,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,...,COPAISINF,COMUNINF,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,CS_FLXRET,FLXRECEBI,TP_SISTEMA,TPUNINOT
0,2,A920,,2015-01-01,201453,2015,28,280460,2061,2015-01-01,...,1,280460,2,1,None,2015-12-17,0,2,1,
1,2,A920,,2015-01-01,201453,2015,24,240310,1414,2015-01-01,...,0,,,,None,2015-03-09,0,2,1,
2,2,A920,,2015-01-01,201453,2015,26,260890,1507,2015-01-01,...,0,,,,None,None,0,,2,
3,2,A920,,2015-01-01,201453,2015,29,292630,1381,2015-01-01,...,1,292630,9,9,None,2015-01-13,0,2,1,
4,2,A920,,2015-01-01,201453,2015,29,292630,1381,2014-12-27,...,1,292630,9,9,None,2015-01-13,0,2,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53266,2,A920,,2015-12-31,201552,2015,26,260890,1507,2015-12-31,...,0,,,,None,2015-12-31,0,,2,
53267,2,A920,,2015-12-31,201552,2015,26,260410,1499,2015-12-26,...,0,,,1,None,2016-08-16,0,,2,
53268,2,A920,,2015-12-31,201552,2015,26,261160,1497,2015-12-26,...,0,,,,None,None,0,,2,
53269,2,A920,,2015-12-31,201552,2015,26,261160,1497,2015-12-29,...,0,,,1,None,2016-08-11,1,,2,
53270,2,A920,,2015-12-31,201552,2015,26,261160,1497,2015-12-30,...,0,,,,None,None,0,,2,

In [19]:
zdf = download('BR', 2016, 'Zika')
zdf

,TP_NOT,ID_AGRAVO,CS_SUSPEIT,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,...,COPAISINF,COMUNINF,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,CS_FLXRET,FLXRECEBI,TP_SISTEMA,TPUNINOT
0,2,A928,,2016-01-01,201552,2016,17,170230,,2016-01-01,...,0,,,,None,2016-03-07,0,2,1,
1,2,A928,,2016-01-01,201552,2016,29,292040,1385,2015-12-29,...,1,292040,2,1,None,2016-06-02,0,2,1,
2,2,A928,,2016-01-01,201552,2016,29,292040,1385,2016-01-01,...,1,292040,2,1,None,2016-06-02,0,2,1,
3,2,A928,,2016-01-01,201552,2016,29,293240,1394,2015-12-28,...,1,293240,2,1,None,2016-01-02,0,2,1,
4,2,A928,,2016-01-01,201552,2016,32,320530,1510,2015-12-31,...,1,320530,2,1,None,2016-01-25,0,2,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281459,2,A928,,2016-12-31,201652,2016,33,330455,,2016-12-29,...,1,330455,2,1,None,2017-01-10,0,2,1,
281460,2,A928,,2016-12-31,201652,2016,51,510340,1578,2016-12-26,...,1,510340,2,1,None,2017-02-10,0,2,1,
281461,2,A928,,2016-12-31,201652,2016,51,510340,1578,2016-12-30,...,1,510340,2,1,None,2017-02-10,0,2,1,
281462,2,A928,,2016-12-31,201652,2016,51,510340,1578,2016-12-27,...,1,510340,2,1,None,2017-01-30,0,2,1,
281463,2,A928,,2016-12-31,201652,2016,51,510340,1578,2016-12-30,...,0,,,,None,None,1,2,1,

## New Table: Contact with communicable disease

In [6]:
df = _fetch_file(fname='ACBIBR15.dbc',path='/dissemin/publicos/SINAN/DADOS/FINAIS', ftype='DBC')
df

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_ACID,...,AZT3TC_NFV,IMU_HEP_B,VAC_HEP_B,OUTRO_ARV,OUT_ARV_ES,EVOLUCAO,EVO_OUTR,DT_OBITO,CAT,MUCOSA
0,2,Z209,2015-01-01,201453,2015,31,310910,1459,2128020,2015-01-01,...,2,2,2,2,,2,,None,1,2
1,2,Z209,2015-01-01,201453,2015,50,500270,1975,0010243,2015-01-01,...,2,2,2,2,,2,,None,9,1
2,2,Z209,2015-01-01,201453,2015,31,316370,1466,2764814,2015-01-01,...,,,,,,4,,None,9,2
3,2,Z209,2015-01-01,201453,2015,31,312090,1467,2148293,2015-01-01,...,,,,,,2,,None,1,1
4,2,Z209,2015-01-01,201453,2015,27,270430,1533,2720035,2015-01-01,...,,,,,,4,,None,9,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55454,2,Z209,2015-12-31,201552,2015,35,352690,1345,2081458,2015-12-31,...,,,,,,3,,None,1,
55455,2,Z209,2015-12-31,201552,2015,33,330455,,7107366,2015-12-31,...,9,9,9,9,,4,,None,1,1
55456,2,Z209,2015-12-31,201552,2015,12,120040,1938,7530684,2015-12-31,...,2,2,2,2,,2,,None,2,2
55457,2,Z209,2015-12-31,201552,2015,31,314790,1455,2775999,2015-12-31,...,2,2,2,2,,3,,None,1,2
55458,2,Z209,2015-12-31,201552,2015,33,330070,,2278189,2015-12-31,...,,,,,,,,None,9,

In [7]:
df.columns

Index(['TP_NOT', 'ID_AGRAVO', 'DT_NOTIFIC', 'SEM_NOT', 'NU_ANO', 'SG_UF_NOT',
       'ID_MUNICIP', 'ID_REGIONA', 'ID_UNIDADE', 'DT_ACID', 'SEM_ACID',
       'NU_IDADE_N', 'CS_SEXO', 'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N', 'SG_UF',
       'ID_MN_RESI', 'ID_RG_RESI', 'ID_PAIS', 'ID_OCUPA_N', 'SIT_TRAB',
       'NUTEMPO', 'TPTEMPO', 'CNAE', 'UF_EMP', 'MUN_EMP', 'TERCEIRIZA',
       'PERCUTANEA', 'PELE_INTEG', 'PELE_NAO_I', 'OUTRO_EXP', 'OUT_EXP_DE',
       'MAT_ORG', 'MAT_ORG_DE', 'TIPO_ACID', 'AGENTE', 'LUVA', 'AVENTAL',
       'OCULOS', 'MASCARA', 'FACIAL', 'BOTA', 'VACINA', 'ANTI_HIV', 'HBSAG',
       'ANTI_HBS', 'ANTI_HCV', 'FONTE', 'FO_HBSAG', 'FO_ANT_HIV', 'FO_ANT_HBC',
       'FO_ANT_HCV', 'SEM_QUIMIO', 'RECUSA_QUI', 'AZT3TC', 'AZT3TC_IND',
       'AZT3TC_NFV', 'IMU_HEP_B', 'VAC_HEP_B', 'OUTRO_ARV', 'OUT_ARV_ES',
       'EVOLUCAO', 'EVO_OUTR', 'DT_OBITO', 'CAT', 'MUCOSA'],
      dtype='object')

In [4]:
cid = get_CID10_table()
cid[cid.CID10=='Z209'].DESCR

13603    Z20.9 Contato exposicao a doenc transmissivel NE
Name: DESCR, dtype: object

## New table: Work accidents

In [8]:
df = _fetch_file(fname='ACGRBR16.dbc',path='/dissemin/publicos/SINAN/DADOS/FINAIS', ftype='DBC')
df

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_ACID,...,MUN_ATENDE,UNI_ATENDE,PART_CORP1,PART_CORP2,PART_CORP3,CID_LESAO,REGIME,EVOLUCAO,DT_OBITO,CAT
0,2,Y96,2016-01-01,201552,2016,41,410690,1356,6330754,2015-12-31,...,410690,0015369,02,,,S061,1,5,2016-01-01,3
1,2,Y96,2016-01-01,201552,2016,35,355030,1331,2078015,2016-01-01,...,355030,2078015,10,,,S50,2,2,None,9
2,2,Y96,2016-01-01,201552,2016,50,500370,1966,2710978,2016-01-01,...,500370,2710978,06,,,S619,2,7,None,2
3,2,Y96,2016-01-01,201552,2016,43,431830,1599,2248204,2016-01-01,...,431830,2248204,01,02,,Y96,1,5,2016-01-13,2
4,2,Y96,2016-01-01,201552,2016,35,355220,1353,3331962,2015-10-13,...,355220,,09,,,S923,2,9,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85237,2,Y96,2016-12-31,201652,2016,35,355030,1331,2082829,2016-01-30,...,355030,2082829,09,,,S934,2,9,None,9
85238,2,Y96,2016-12-31,201652,2016,35,355030,1331,3474674,2016-12-26,...,355030,3474674,09,,,S934,2,1,None,9
85239,2,Y96,2016-12-31,201652,2016,42,420140,1562,2691515,2016-12-31,...,420140,2691515,05,11,,S317,1,2,None,2
85240,2,Y96,2016-12-31,201652,2016,51,510650,1578,2795752,2016-12-31,...,510650,2795752,06,,,S61,2,1,None,1
85241,2,Y96,2016-12-31,201652,2016,35,355030,1331,3474674,2016-12-31,...,355030,3474674,07,,,S400,2,1,None,2

In [9]:
cid[cid.CID10=='Y96'].DESCR

13486    Y96   Circunst relat condicoes de trabalho
Name: DESCR, dtype: object