In [1]:
from pysus.online_data import parquets_to_dataframe
from pysus.online_data import SINAN

# SINAN Available diseases and years to download

In [14]:
SINAN.list_diseases()

['Animais Peçonhentos',
 'Botulismo',
 'Cancer',
 'Chagas',
 'Chikungunya',
 'Colera',
 'Coqueluche',
 'Contact Communicable Disease',
 'Acidentes de Trabalho',
 'Dengue',
 'Difteria',
 'Esquistossomose',
 'Febre Amarela',
 'Febre Maculosa',
 'Febre Tifoide',
 'Hanseniase',
 'Hantavirose',
 'Hepatites Virais',
 'Intoxicação Exógena',
 'Leishmaniose Visceral',
 'Leptospirose',
 'Leishmaniose Tegumentar',
 'Malaria',
 'Meningite',
 'Peste',
 'Poliomielite',
 'Raiva Humana',
 'Sífilis Adquirida',
 'Sífilis Congênita',
 'Sífilis em Gestante',
 'Tétano Acidental',
 'Tétano Neonatal',
 'Tuberculose',
 'Violência Domestica',
 'Zika']

In [2]:
SINAN.get_available_years('Chikungunya')

['2015', '2016', '2017', '2018', '2019', '2020', '2021']

In [12]:
SINAN.get_available_years("Zika")

['2016', '2017', '2018', '2019', '2020', '2021']

# SINAN Metadata Information

In [18]:
metadata = SINAN.metadata_df('Chikungunya')
metadata

/home/luabida/Projetos/InfoDengue/PySUS/pysus/online_data/SINAN.py:42: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(

,Nome do campo,Campo,Tipo,Categoria,Descrição,Características,DBF
0,2-Agravo/doença,NaN,VARCHAR(1),1-Dengue\n2-Chikungunya,Especifica a suspeição do agravo.,"Campo Obrigatório\nPreenchendo o código,\na de...",ID_AGRAVO
1,31-Data da Investigação,dt_investigacao,DATE,NaN,Informar a data da investigação,Campo obrigatório\n- Não aceitar Data da\ninve...,DT_INVEST
2,32- Ocupação/ramo de atividade econômica,co_cbo_ocupacao,VARCHAR(6),NaN,Informar a atividade exercida pelo paciente no...,NaN,ID_OCUPA_N
3,33- Sinais clínicos (Febre),NaN,VARCHAR(1),1 – Sim\n2 – Não,Informar qual sinal clínico ou achados\nlabora...,Campo obrigatório,FEBRE
4,33- Sinais clínicos (Mialgia),NaN,VARCHAR(1),1 – Sim\n2 – Não,Informar qual sinal clínico ou achados\nlabora...,Campo obrigatório,MIALGIA
...,...,...,...,...,...,...,...
83,70- Dengue grave (Alteração da consciência),NaN,VARCHAR(1),1 – Sim\n2 – Não,Informar qual sinal de gravidade foi\nencontrado,Campo obrigatório\nSe campo 62-\nClassificação...,GRAV_CONSC
84,70- Dengue grave (Outros órgãos),NaN,NaN,NaN,Informar qual sinal de gravidade foi\nencontrado,Campo obrigatório\nSe campo 62-\nClassificação...,GRAV_ORGAO
85,71- Dengue grave Data de início dos sintomas,NaN,DATE,NaN,Informar data de início dos sinais de alarme.\...,Campo obrigatório\nSe campo 62-\nClassificação...,DT_GRAV
86,Informações complementares e observações adici...,ds_observacao,VARCHAR(255),NaN,Informações complementares e observações\nadic...,Habilitado para todas\nnotificações,DS_OBS
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
dict(zip(metadata['DBF'], metadata['Nome do campo']))

{'ID_AGRAVO': '2-Agravo/doença',
 'DT_INVEST': '31-Data da Investigação',
 'ID_OCUPA_N': '32- Ocupação/ramo de atividade econômica',
 'FEBRE': '33- Sinais clínicos (Febre)',
 'MIALGIA': '33- Sinais clínicos (Mialgia)',
 'CEFALEIA': '33- Sinais clínicos (Cefaleia)',
 'EXANTEMA': '33- Sinais clínicos (Exantema)',
 'VOMITO': '33- Sinais clínicos (Vômito)',
 'NAUSEA': '33- Sinais clínicos (Náusea)',
 'DOR_COSTAS': '33- Sinais clínicos (Dor nas costas)',
 'CONJUNTVIT': '33- Sinais clínicos (Conjuntivite)',
 'ARTRITE': '33- Sinais clínicos (Artrite)',
 'ARTRALGIA': '33- Sinais clínicos (Artralgia intensa)',
 'PETÉQUIA_N': '33- Sinais clínicos (Petéquias)',
 'LEUCOPENIA': '33- Sinais clínicos (Leucopenia)',
 'LACO': '33- Sinais clínicos (Prova do laço)',
 'DOR_RETRO': '33- Sinais clínicos (Dor retroorbital)',
 'DIABETES': '34- Doenças pré- existentes (Diabetes)',
 'HEMATOLOG': '34- Doenças pré- existentes (Doenças hematológicas)',
 'HEPATOPAT': '34- Doenças pré- existentes (Hepatopatias)',
 'RENAL': '34- Doenças pré- existentes (Doença renal crônica)',
 'HIPERTENSA': '34- Doenças pré- existentes (Hipertensão arterial)',
 'ÁCIDO_PEPT': '34- Doenças pré- existentes (Doença ácido-péptica)',
 'AUTO_IMUNE': '34- Doenças pré- existentes (Doenças auto-imunes)',
 'DT_CHIK_S1': '35-Exame sorológico (IgM) Chikungunya Soro 1 Data da Coleta',
 'DT_CHIK_S2': '36-Exame sorológico (IgM) Chikungunya Soro 2 Data da Coleta',
 'DT_PRNT': '37-Exame PRNT Data da Coleta',
 'RES_CHIKS1': '38-Exame sorológico (IgM) Chikungunya Soro 1 Resultado',
 'RES_CHIKS2': '38-Exame sorológico (IgM) Chikungunya Soro 2 Resultado',
 'RESUL_PRNT': '38-Exame PRNT Resultado',
 'DT_SORO': '39-Exame sorológico (IgM) Dengue Data da Coleta',
 'RESUL_SORO': '40-Exame sorológico (IgM) Dengue Resultado',
 'DT_NS1': '41- Exame NS1 Data da Coleta',
 'RESUL_NS1': '42- Exame NS1 Resultado',
 'DT_VIRAL': '43-Isolamento Viral Data da Coleta',
 'RESUL_VI_N': '43-Isolamento Viral Resultado',
 'DT_PCR': '45-RT-PCR Data da Coleta',
 'RESUL_PCR_': '46-RT-PCR Resultado',
 'SOROTIPO': '47-Sorotipo',
 'HISTOPA_N': '48-Histopatologia Resultado',
 'IMUNOH_N': '49-Imunohistoquímica Resultado',
 'HOSPITALIZ': '50-Ocorreu Hospitalização?',
 'DT_INTERNA': '51-Data Da Internação',
 'UF': '52-UF De Hospitalização',
 'MUNICIPIO': '53-Municipio Do Hospital',
 'HOSPITAL': '54-Nome Do Hospital',
 'DDD_HOSP': '55-(DDD)',
 'TEL_HOSP': '55-Telefone',
 'TPAUTOCTO': '56-O caso é Autóctone de residência?',
 'COUFINF': '57-UF (provável da fonte de infecção)',
 'COPAISINF': '58-País (provável da fonte de infecção)',
 'COMUNINF': '59-Município (provável da fonte de infecção)',
 'CODISINF': '60-Distrito (provável de infecção)',
 'CO_BAINF\nNOBAIINF': '61-Bairro (provável de infecção)',
 'CLASSI_FIN': '62-Classificação',
 'CRITERIO': '63-Critério De Confirmação/Descarte',
 'CLINIC_CHIK': '64- Apresentação clínica Chikungunya',
 'EVOLUCAO': '65-Evolução Do Caso',
 'DT_OBITO': '66-Data do Óbito',
 'DT_ENCERRA': '67-Data Do Encerramento',
 'ALRM_HIPOT': '68- Dengue com sinais de alarme (Hipotensão)',
 'ALRM_PLAQ': '68- Dengue com sinais de alarme (Queda abrupta de plaquetas)',
 'ALRM_VOM': '68- Dengue com sinais de alarme (Vômitos persistentes)',
 'ALRM_ABDOM': '68- Dengue com sinais de alarme (Dor abdominal)',
 'ALRM_LETAR': '68- Dengue com sinais de alarme (Letargia ou irritabilidade)',
 'ALRM_SANG': '68- Dengue com sinais de alarme (Sangramento de mucosa/outras hemorragias)',
 'ALRM_HEMAT': '68- Dengue com sinais de alarme (Aumento hematócrito)',
 'ALRM_HEPAT': '68- Dengue com sinais de alarme (Hepatomegalia)',
 'ALRM_LIQ': '68- Dengue com sinais de alarme (Acúmulo de líquidos)',
 'DT_ALRM': '69- Dengue com sinais de alarme Data de início dos sintomas',
 'GRAV_PULSO': '70- Dengue grave (Pulso débil ou indectável)',
 'GRAV_CONV': '70- Dengue grave (PA convergente)',
 'GRAV_ENCH': '70- Dengue grave (Tempo de enchimento capilar)',
 'GRAV_INSUF': '70- Dengue grave (Acúmulo de líquidos com insuficiência respiratória)',
 'GRAV_TAQUI': '70- Dengue grave (Taquicardia)',
 'GRAV_EXTRE': '70- Dengue grave (Extremidade frias)',
 'GRAV_HIPOT': '70- Dengue grave (Hipotensão arterial em fase tardia)',
 'GRAV_HEMAT': '70- Dengue grave (Hematêmese)',
 'GRAV_MELEN': '70- Dengue grave (Melena)',
 'GRAV_METRO': '70- Dengue grave (Metrorragia volumosa)',
 'GRAV_SANG': '70- Dengue grave (Sangramento do SNC)',
 'GRAV_AST': '70- Dengue grave (AST/ALT >1 .000)',
 'GRAV_MIOC': '70- Dengue grave (Miocardite)',
 'GRAV_CONSC': '70- Dengue grave (Alteração da consciência)',
 'GRAV_ORGAO': '70- Dengue grave (Outros órgãos)',
 'DT_GRAV': '71- Dengue grave Data de início dos sintomas',
 'DS_OBS': 'Informações complementares e observações adicionais',
 nan: nan}

# Fetching National level table from SINAN

In [4]:
zika16, zika17 = SINAN.download('Zika', [2016, 2017])

In [5]:
chik15 = SINAN.download('Chikungunya', 2015)

In [9]:
parquets_to_dataframe(zika16)

,TP_NOT,ID_AGRAVO,CS_SUSPEIT,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,...,COPAISINF,COMUNINF,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,CS_FLXRET,FLXRECEBI,TP_SISTEMA,TPUNINOT
0,2,A928,,20160303,201609,2016,31,312770,1471,20160301,...,0,,,1,,20160701,0,2,1,
1,2,A928,,20160303,201609,2016,33,330100,,20160228,...,1,330100,,1,,20161026,0,2,1,
2,2,A928,,20160303,201609,2016,31,312770,1471,20160227,...,0,,,1,,20160701,0,2,1,
3,2,A928,,20160303,201609,2016,31,312770,1471,20160301,...,1,312770,2,1,,20160701,0,2,1,
4,2,A928,,20160303,201609,2016,31,312770,1471,20160229,...,0,,,1,,20160701,0,2,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281459,2,A928,,20160223,201608,2016,26,261160,1497,20160222,...,0,,,1,,20170111,0,2,1,
281460,2,A928,,20160223,201608,2016,26,261530,5558,20160220,...,0,,2,1,,20170411,0,2,1,
281461,2,A928,,20160223,201608,2016,26,260070,5558,20160217,...,0,,,,,20170425,0,2,1,
281462,2,A928,,20160223,201608,2016,26,260190,1499,20160220,...,0,,,1,,20160329,0,2,1,
281463,2,A928,,20160223,201608,2016,31,316225,1473,20160220,...,0,,,,,20160423,0,2,1,

In [10]:
parquets_to_dataframe(zika17)

,TP_NOT,ID_AGRAVO,CS_SUSPEIT,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,...,COPAISINF,COMUNINF,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,CS_FLXRET,FLXRECEBI,TP_SISTEMA,TPUNINOT
0,2,A928,,20170316,201711,2017,13,130260,5584,20170313,...,1,130260,2,1,,20170317,0,2,1,
1,2,A928,,20170316,201711,2017,52,522230,6252,20170310,...,1,522230,2,1,,20170328,0,2,1,
2,2,A928,,20170316,201711,2017,41,410240,1372,20170313,...,0,,,1,,20170404,0,2,1,
3,2,A928,,20170316,201711,2017,25,250750,1377,20170314,...,0,,,1,,20170515,0,2,1,
4,2,A928,,20170316,201711,2017,51,510380,1591,20170311,...,0,,,,,20170522,0,2,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32679,2,A928,,20170316,201711,2017,15,150497,1494,20170315,...,0,,,,,20170518,0,2,1,
32680,2,A928,,20170316,201711,2017,35,354100,1349,20170316,...,0,,,1,,20170620,0,2,1,
32681,2,A928,,20170316,201711,2017,35,354100,1349,20170314,...,0,,,,,20170517,0,2,1,
32682,2,A928,,20170316,201711,2017,21,211130,1430,20170310,...,1,211130,2,1,,20170523,0,2,1,
32683,2,A928,,20170316,201711,2017,13,130260,5584,20170313,...,1,130260,2,1,,20170317,0,2,1,

In [11]:
parquets_to_dataframe(chik15)

,TP_NOT,ID_AGRAVO,CS_SUSPEIT,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,...,COPAISINF,COMUNINF,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,CS_FLXRET,FLXRECEBI,TP_SISTEMA,TPUNINOT
0,2,A920,,20150908,201536,2015,29,292630,1381,20150905,...,1,292630,,,,20151009,0,2,1,
1,2,A920,,20150908,201536,2015,29,291360,1385,20150828,...,1,291360,,,,20151228,0,2,1,
2,2,A920,,20150908,201536,2015,29,292740,1380,20150901,...,0,,,,,20160111,0,2,1,
3,2,A920,,20150908,201536,2015,29,292895,1381,20150904,...,0,,,,,20151111,0,2,1,
4,2,A920,,20150908,201536,2015,29,292895,1381,20150905,...,0,,,,,20151111,0,2,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53266,2,A920,,20150908,201536,2015,29,292630,1381,20150906,...,1,292630,,,,20151009,0,2,1,
53267,2,A920,,20150908,201536,2015,29,292630,1381,20150907,...,1,292630,,,,20151009,0,2,1,
53268,2,A920,,20150908,201536,2015,29,292630,1381,20150906,...,1,292630,,,,20151009,0,2,1,
53269,2,A920,,20150908,201536,2015,29,292630,1381,20150907,...,1,292630,,,,20151009,0,2,1,
53270,2,A920,,20150908,201536,2015,29,292630,1381,20150905,...,1,292630,,,,20151009,0,2,1,